{% set arrayCompounds=['CompoundDict','CompoundMesh','CompoundNer'] %}
<dl class="tabs">
    {# set default values #}
    {% if field is not defined %}
        {% set field = default_field %}
    {% endif %}
    {% if searchInto is not defined %}
        {% set searchInto = default_searchInto %}
    {% endif %}
    {% if whatToSearch is not defined %}
        {% set whatToSearch = default_whatToSearch %}
    {% endif %}
    {% if whatToSearch_keyword is not defined %}
        {% set whatToSearch_keyword = default_whatToSearch_keyword %}
    {% endif %}
    {% if kind is not defined %}
        {% set kind = default_kind %}
    {% endif %}
    {% if entityType is not defined %}
        {% set entityType = default_entityType %}
    {% endif %}
    {% if entityName is not defined %}
        {% set entityName = default_entityName %}
    {% endif %}
    {% if entityId is not defined %}
        {% set entityId = default_entityId %}
    {% endif %}
    {% if keywordSearch is not defined %}
        {% set keywordSearch = default_keywordSearch %}
    {% endif %}
    {% if cytochromeName is not defined %}
        {% set cytochromeName = default_cytochromeName %}
    {% endif %}
    {% if cytochromeId is not defined %}
        {% set cytochromeId = default_cytochromeId %}
    {% endif %}
    {% if markerName is not defined %}
        {% set markerName = default_markerName %}
    {% endif %}
    {% if markerId is not defined %}
        {% set markerId = default_markerId %}
    {% endif %}
  {% if entityType=="keyword" %}
    <dd class="active"><a href="#keywords" name="keyword"><span data-tooltip class="has-tip" title="Free text search">Keywords</span></a></dd>
  {% else %}
    <dd><a href="#keywords" name="keyword"><span data-tooltip class="has-tip" title="Free text search">Keywords</span></a></dd>
  {% endif %}

  {% if entityType in arrayCompounds %}
    <dd class="active"><a href="#compounds" name="compoundDict"><span data-tooltip class="has-tip" title="Chemical compound search">Compounds</span></a></dd>
  {% else %}
    <dd><a href="#compounds" name="compoundDict"><span data-tooltip class="has-tip" title="Chemical compound search">Compounds</span></a></dd>
  {% endif %}

  {% if entityType=="Cytochrome" %}
    <dd class="active"><a href="#cytochromes" name="cytochrome"><span data-tooltip class="has-tip" title="Cytochromes P450 (CYPs) search">Cytochromes</span></a></dd>
  {% else %}
    <dd><a href="#cytochromes" name="cytochrome"><span data-tooltip class="has-tip" title="Cytochromes P450 (CYPs) search">Cytochromes</span></a></dd>
  {% endif %}

  {% if entityType=="Marker" %}
    <dd class="active"><a href="#markers" name="marker"><span data-tooltip class="has-tip" title="Liver toxicity marker search">Markers</span></a></dd>
  {% else %}
    <dd class="hide-for-small"><a href="#markers" name="marker"><span data-tooltip class="has-tip" title="Liver toxicity marker search">Markers</span></a></dd>
  {% endif %}

</dl>
<ul class="tabs-content">
    {% if entityType=="keyword" %}
        <li class="active" id="keywordsTab">
    {% else %}
        <li id="keywordsTab">
    {% endif %}
    <form name="keywordform" class="custom keywordform" onsubmit="return submitForm();">
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            {% if entityName is defined %}
                <input id="tags-keywords" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_keywordSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
            {% else %}
                <input id="tags-keywords" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_keywordSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_keywordSearch }}">
            {% endif %}
            <a class="button orange bigSearch" >Search</a>
        </div>
    </div>
    <div class="advanceSearch">
        <div class="large-4 columns">
                <fieldset>
                    <legend>What are you searching?</legend>
                    {% set whatToSearch_keyword = default_whatToSearch_keyword %}
                    {% if whatToSearch_keyword=="any" %}
                        <span data-tooltip class="has-tip" title="Search all documents"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" CHECKED value="any"><span class="custom radio"></span>  Any</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search all documents"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="any"><span class="custom radio"></span> Any</label></span>
                    {% endif %}

                    {% if whatToSearch_keyword=="withCompound" %}
                        <span data-tooltip class="has-tip" title="Search in text where compounds are comentioned"> <label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" CHECKED value="withCompounds"><span class="custom radio checked"></span> With Compounds</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in text where compounds are comentioned"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withCompounds"><span class="custom radio"></span> With Compounds</label></span>
                    {% endif %}

                    {% if whatToSearch_keyword=="withCytochrome" %}
                        <span data-tooltip class="has-tip" title="Search in text where CYPs are comentioned"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" CHECKED value="withCytochromes"><span class="custom radio"></span> With CYPs</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in text where CYPs are comentioned"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withCytochromes"><span class="custom radio"></span> With CYPs</label></span>
                    {% endif %}

                    {% if whatToSearch_keyword=="withMarker" %}
                        <span data-tooltip class="has-tip" title="Search in text where markers are comentioned"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" CHECKED value="withMarkers"><span class="custom radio"></span> With Markers</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in text where markers are comentioned"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withMarkers"><span class="custom radio"></span> With Markers</label></span>
                    {% endif %}
                </fieldset>
        </div>
        <div class="large-4 columns">
                <fieldset>
                    <legend>Source:</legend>
                    {% if source is defined %}
                        {% if source not in ["abstract","pubmed","fulltext","nda","epar"] %}
                            {% set keywordSource = default_source %}
                        {% else %}
                            {% set keywordSource = source %}
                        {% endif %}
                    {% else %}
                        {% set keywordSource = default_source %}
                    {% endif %}
                    {% if keywordSource=="all" %}
                        <span data-tooltip class="has-tip" title="Search in all sentences"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="all"><span class="custom radio"></span> All</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all sentences"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="all"><span class="custom radio"></span> All</label></span>
                    {% endif %}
                    {% if keywordSource=="pubmed" %}
                        <span data-tooltip class="has-tip" title="Search in all PubMed sentences"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="pubmed"><span class="custom radio"></span> Pubmed</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all PubMed sentences"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="pubmed"><span class="custom radio"></span> Pubmed</label></span>
                    {% endif %}
                    {% if keywordSource=="fulltext" %}
                        <span data-tooltip class="has-tip" title="Search in all full text sentences"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="fulltext"><span class="custom radio"></span> Fulltext</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all full text sentences"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="fulltext"><span class="custom radio"></span> Fulltext</label></span>
                    {% endif %}
                    {% if keywordSource=="nda" %}
                        <span data-tooltip class="has-tip" title="Search in FDA New Drug Approvals (NDAs) sentences"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="nda"><span class="custom radio"></span> NDA</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in FDA New Drug Approvals (NDAs) sentences"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="nda"><span class="custom radio"></span> NDA</label></span>
                    {% endif %}
                    {% if keywordSource=="epar" %}
                        <span data-tooltip class="has-tip" title="Search in all European public assessment reports (EPAR) sentences"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="epar"><span class="custom radio"></span> EPAR</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all European public assessment reports (EPAR) sentences"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="epar"><span class="custom radio"></span> EPAR</label></span>
                    {% endif %}
                    <hr/>
                    {% if keywordSource=="abstract" %}
                        <span data-tooltip class="has-tip" title="Search in PubMed abstracts (chemicals indexed by MeSH)"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="abstract"><span class="custom radio"></span> Abstracts</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in PubMed abstracts (chemicals indexed by MeSH)"><label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="abstract"><span class="custom radio"></span> Abstracts</label></span>
                    {% endif %}
                </fieldset>
            </div>
        </form>
        <div class="large-4 columns">
        </div>
    </div>
  </li>
    {% if entityType in arrayCompounds %}
        <li class="active" id="compoundsTab">
    {% else %}
        <li id="compoundsTab">
    {% endif %}
    <form name="compoundform" class="custom compoundform" onsubmit="return submitForm();">
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            {% if whatToSearch=="name" %}
                {% if entity is defined %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityBackup }}">
                {% else %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_entityName }}">
                {% endif %}
            {% elseif whatToSearch=="id" %}
                {% if entity is defined %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityBackup }}">
                {% else %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityId }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_entityName }}">
                {% endif %}
            {% elseif whatToSearch=="smile" %}
                {% if entity is defined %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityBackup }}">
                {% else %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_entityName }}">
                {% endif %}
            {% else %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityBackup }}">
            {% endif %}
            <a class="button orange bigSearch" >Search</a>
        </div>
    </div>
    <div class="advanceSearch">
        <div class="large-4 columns">
                <fieldset>
                    <legend>What are you searching?</legend>
                    {% if whatToSearch not in ["name","id","smile","inChi","any","withCytochromes","withMarkers","compoundsTermsRelations"] %}
                        {% set whatToSearchCompound="name" %}
                    {% else %}
                        {% set whatToSearchCompound=whatToSearch %}
                    {% endif %}
                    {% if whatToSearchCompound=="name" %}
                        <span data-tooltip class="has-tip" title="Chemical compound/drug name"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="name"><span class="custom radio"></span> Name</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Chemical compound/drug name"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="name"><span class="custom radio"></span> Name</label></span>
                    {% endif %}

                    {% if whatToSearchCompound=="id" %}
                        <span data-tooltip class="has-tip" title="Chemical compound database identifier (Drugbank, ChEBI, PubChem compound, PubChem substance, CAS RN, Human Metabolome database, KEGG compound, KEGG drug, MeSH substance)"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="id"><span class="custom radio checked"></span> Chemical identifiers</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Chemical compound database identifier (Drugbank, ChEBI, PubChem compound, PubChem substance, CAS RN, Human Metabolome database, KEGG compound, KEGG drug, MeSH substance)"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="id"><span class="custom radio"></span> Chemical identifiers</label></span>
                    {% endif %}

                    {% if whatToSearchCompound=="smile" %}
                        <span data-tooltip class="has-tip" title="SMILES Formula (Simplified Molecular-Input Line-Entry System). Only exact match search is currently enabled.
<br/>See: http://en.wikipedia.org/wiki/Simplified_molecular-input_line-entry_system"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="smile"><span class="custom radio"></span> SMILES</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="SMILES Formula (Simplified Molecular-Input Line-Entry System). Only exact match search is currently enabled.
<br/>See: http://en.wikipedia.org/wiki/Simplified_molecular-input_line-entry_system"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="smile"><span class="custom radio"></span> SMILES</label></span>
                    {% endif %}

                    {% if whatToSearchCompound=="inChi" %}
                        <span data-tooltip class="has-tip" title=" IUPAC International Chemical Identifier (InChI). Only exact match search is currently enabled.
<br/>See: http://www.iupac.org/home/publications/e-resources/inchi.html"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="inChi"><span class="custom radio"></span> InChI</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="S IUPAC International Chemical Identifier (InChI). Only exact match search is currently enabled.
<br/>See: http://www.iupac.org/home/publications/e-resources/inchi.html"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="inChi"><span class="custom radio"></span> InChI</label></span>
                    {% endif %}

                    {% if whatToSearchCompound=="any" %}
                        <span data-tooltip class="has-tip" title="Free text search within Compounds mentioning sentences"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="any"><span class="custom radio"></span> Any (Free search)</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Free text search within Compounds mentioning sentences"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="any"><span class="custom radio"></span> Any (Free search)</label></span>
                    {% endif %}

                    {% if whatToSearchCompound=="withCytochromes" %}
                        <span data-tooltip class="has-tip" title="Co-ocurrences in sentences with CYPs"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="withCytochromes"><span class="custom radio"></span> With CYPs</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Co-ocurrences in sentences with CYPs"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="withCytochromes"><span class="custom radio"></span> With CYPs</label></span>
                    {% endif %}

                    {% if whatToSearchCompound=="withMarkers" %}
                        <span data-tooltip class="has-tip" title="Co-ocurrences in sentences with liver markers"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="withMarkers"><span class="custom radio"></span> With Markers</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Co-ocurrences in sentences with liver markers"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="withMarkers"><span class="custom radio"></span> With Markers</label></span>
                    {% endif %}

                    {% if whatToSearchCompound=="compoundsTermsRelations" %}
                        <span data-tooltip class="has-tip" title="Compound/drug relation to adverse hepatobiliary events"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="compoundsTermsRelations"><span class="custom radio"></span> Term relations</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Compound/drug relation to adverse hepatobiliary events"><label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="compoundsTermsRelations"><span class="custom radio"></span> Term relations</label></span>
                    {% endif %}
                </fieldset>
        </div>
        <div class="large-4 columns">
                <fieldset>
                    <legend>Source:</legend>
                    {% if source is defined %}
                        {% if source not in ["all","pubmed","fulltext","nda","epar","abstract"] %}
                            {% set compoundSource = default_source %}
                        {% else %}
                            {% set compoundSource = source %}
                        {% endif %}
                    {% else %}
                        {% set compoundSource = default_source %}
                    {% endif %}
                    {% if compoundSource=="all" %}
                        <span data-tooltip class="has-tip" title="Search in all sentences"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="all"><span class="custom radio"></span> All</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all sentences"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="all"><span class="custom radio"></span> All</label></span>
                    {% endif %}
                    {% if compoundSource=="pubmed" %}
                        <span data-tooltip class="has-tip" title="Search in all PubMed sentences"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="pubmed"><span class="custom radio"></span> Pubmed</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all PubMed sentences"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="pubmed"><span class="custom radio"></span> Pubmed</label></span>
                    {% endif %}
                    {% if compoundSource=="fulltext" %}
                        <span data-tooltip class="has-tip" title="Search in all full text sentences"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="fulltext"><span class="custom radio"></span> Fulltext</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all full text sentences"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="fulltext"><span class="custom radio"></span> Fulltext</label></span>
                    {% endif %}
                    {% if compoundSource=="nda" %}
                        <span data-tooltip class="has-tip" title="Search in FDA New Drug Approvals (NDAs) sentences"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="nda"><span class="custom radio"></span> NDA</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in FDA New Drug Approvals (NDAs) sentences"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="nda"><span class="custom radio"></span> NDA</label></span>
                    {% endif %}
                    {% if compoundSource=="epar" %}
                        <span data-tooltip class="has-tip" title="Search in all European public assessment reports (EPAR) sentences"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="epar"><span class="custom radio"></span> EPAR</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all European public assessment reports (EPAR) sentences"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="epar"><span class="custom radio"></span> EPAR</label></span>
                    {% endif %}
                    <hr/>
                    {% if compoundSource=="abstract" %}
                        <span data-tooltip class="has-tip" title="Search in PubMed abstracts (chemicals indexed by MeSH)"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="abstract"><span class="custom radio"></span> Abstracts</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in PubMed abstracts (chemicals indexed by MeSH)"><label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="abstract"><span class="custom radio"></span> Abstracts</label></span>
                    {% endif %}
                </fieldset>
            </div>
        </form>
        <div class="large-4 columns">
        </div>
    </div>
  </li>
    {% if entityType=="Cytochrome" %}
        <li class="active" id="cytochromesTab">
    {% else %}
        <li id="cytochromesTab">
    {% endif %}
    <form name="cytochromeform" class="custom cytochromeform" onsubmit="return submitForm();">
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            {% if entityName is defined %}
                <input id="tags-cytochromes" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_cytochromeName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
            {% else %}
                <input id="tags-cytochromes" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_cytochromeName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_cytochromeName }}">
            {% endif %}
            <a class="button orange bigSearch" >Search</a>

        </div>
    </div>
    <div class="advanceSearch">
        <div class="large-4 columns">
                <fieldset>
                    <legend>What are you searching?</legend>
                    {% if whatToSearch=="name" %}
                        <span data-tooltip class="has-tip" title="Cytochrome P450 gene/protein name or symbol"><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="name"><span class="custom radio"></span> CYPs name/symbol</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Cytochrome P450 gene/protein name or symbol"><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="name"><span class="custom radio"></span> CYPs name/symbol</label></span>
                    {% endif %}

                    {% if whatToSearch=="id" %}
                        <span data-tooltip class="has-tip" title="Cytochrome P450 gene/protein UniProt database primary accession number."><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="id"><span class="custom radio checked"></span> CYPs UniProt accession</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Cytochrome P450 gene/protein UniProt database primary accession number."><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="id"><span class="custom radio"></span> CYPs UniProt accession</label></span>
                    {% endif %}

                    {% if whatToSearch=="canonical" %}
                        <span data-tooltip class="has-tip" title="Name of the Cytochrome P450 gene according to the standard hierarchical gene naming nomenclature convention. See: http://www.cypalleles.ki.se"><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="canonical"><span class="custom radio"></span> CYPs nomenclature</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Name of the Cytochrome P450 gene according to the standard hierarchical gene naming nomenclature convention. See: http://www.cypalleles.ki.se"><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="canonical"><span class="custom radio"></span> CYPs nomenclature</label></span>
                    {% endif %}

                    {% if whatToSearch=="any" %}
                        <span data-tooltip class="has-tip" title="Free text search within CYPs mentioning sentences"><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="any"><span class="custom radio"></span> Any (Free search)</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Free text search within CYPs mentioning sentences"><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="any"><span class="custom radio"></span> Any (Free search)</label></span>
                    {% endif %}

                    {% if whatToSearch=="withCompounds" %}
                        <span data-tooltip class="has-tip" title="Search within sentences where CYPs co-occur with automatically detected chemical entity mentions"><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="withCompounds"><span class="custom radio"></span> With Compounds</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search within sentences where CYPs co-occur with automatically detected chemical entity mentions"><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="withCompounds"><span class="custom radio"></span> With Compounds</label></span>
                    {% endif %}
                    {% if whatToSearch=="compoundsCytochromesRelations" %}
                        <span data-tooltip class="has-tip" title="Search for sentences based CYPs-chemical compound/drug relations detected by a pattern and/or machine learning method. Extracted relations cover induction, inhibition or metabolism interactions. You can query either by names of CYPs or chemicals/drugs"><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="compoundsCytochromesRelations"><span class="custom radio"></span> CYPs-chemical relations</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search for sentences based CYPs-chemical compound/drug relations detected by a pattern and/or machine learning method. Extracted relations cover induction, inhibition or metabolism interactions. You can query either by names of CYPs or chemicals/drugs"><label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="compoundsCytochromesRelations"><span class="custom radio"></span> CYPs-chemical relations</label></span>
                    {% endif %}
                </fieldset>
        </div>
        <div class="large-4 columns">
                <fieldset>
                    <legend>Source:</legend>
                    {% if source is defined %}
                        {% if source not in ["pubmed","fulltext","nda","epar"] %}
                            {% set cytochromeSource = default_source %}
                        {% else %}
                            {% set cytochromeSource = source %}
                        {% endif %}
                    {% else %}
                        {% set cytochromeSource = default_source %}
                    {% endif %}
                    {% if cytochromeSource=="all" %}
                        <span data-tooltip class="has-tip" title="Search in all sentences"><label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" CHECKED value="all"><span class="custom radio"></span> All</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all sentences"><label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" value="all"><span class="custom radio"></span> All</label></span>
                    {% endif %}
                    {% if cytochromeSource=="pubmed" %}
                        <span data-tooltip class="has-tip" title="Search in all PubMed sentences"><label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" CHECKED value="pubmed"><span class="custom radio"></span> Pubmed</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all PubMed sentences"><label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" value="pubmed"><span class="custom radio"></span> Pubmed</label></span>
                    {% endif %}
                    {% if cytochromeSource=="fulltext" %}
                        <span data-tooltip class="has-tip" title="Search in all full text sentences"><label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" CHECKED value="fulltext"><span class="custom radio"></span> Fulltext</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all full text sentences"><label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" value="fulltext"><span class="custom radio"></span> Fulltext</label></span>
                    {% endif %}
                    {% if cytochromeSource=="nda" %}
                        <span data-tooltip class="has-tip" title="Search in FDA New Drug Approvals (NDAs) sentences"><label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" CHECKED value="nda"><span class="custom radio"></span> NDA</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in FDA New Drug Approvals (NDAs) sentences"><label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" value="nda"><span class="custom radio"></span> NDA</label></span>
                    {% endif %}
                    {% if cytochromeSource=="epar" %}
                        <span data-tooltip class="has-tip" title="Search in all European public assessment reports (EPAR) sentences"><label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" CHECKED value="epar"><span class="custom radio"></span> EPAR</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all European public assessment reports (EPAR) sentences"><label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" value="epar"><span class="custom radio"></span> EPAR</label></span>
                    {% endif %}
                </fieldset>
            </div>
        </form>
        <div class="large-4 columns">
        </div>
    </div>
  </li>
    {% if entityType=="Marker" %}
        <li class="active" id="markersTab">
    {% else %}
        <li id="markersTab">
    {% endif %}
    <form name="markerform" class="custom markerform" onsubmit="return submitForm();">
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            {% if entityName is defined %}
                <input id="tags-markers" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_markerName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
            {% else %}
                <input id="tags-markers" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_markerName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_markerName }}">
            {% endif %}
            <a class="button orange bigSearch" >Search</a>

        </div>
    </div>
    <div class="advanceSearch">
        <div class="large-4 columns">
                <fieldset>
                    <legend>What are you searching?</legend>
                    {% if whatToSearch=="name" %}
                        <span data-tooltip class="has-tip" title="Name or symbol of the biochemical liver test marker. Correspond to one of 17 enzymes and chemical compounds assayed as biochemical markers of adverse liver reactions (e.g. ALT, AST, SDH, GGT, 5'-NT, LAP, SGPT,...)."><label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" CHECKED value="name"><span class="custom radio"></span> Marker name/symbol</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Name or symbol of the biochemical liver test marker. Correspond to one of 17 enzymes and chemical compounds assayed as biochemical markers of adverse liver reactions (e.g. ALT, AST, SDH, GGT, 5'-NT, LAP, SGPT,...)."><label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" value="name"><span class="custom radio"></span> Marker name/symbol</label></span>
                    {% endif %}

                    {% if whatToSearch=="id" %}
                        <span data-tooltip class="has-tip" title="Marker UniProt accession number or PubChem compound Id (e.g. P00441, P04040, P07195, P07203,..)"><label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" CHECKED value="id"><span class="custom radio checked"></span> Marker identifier</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Marker UniProt accession number or PubChem compound Id (e.g. P00441, P04040, P07195, P07203,..)"><label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" value="id"><span class="custom radio"></span> Marker identifier</label></span>
                    {% endif %}

                    {% if whatToSearch=="any" %}
                        <span data-tooltip class="has-tip" title="Free text search within liver marker mentioning sentences"><label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" CHECKED value="any"><span class="custom radio checked"></span> Any (Free search)</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Free text search within liver marker mentioning sentences"><label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" value="any"><span class="custom radio"></span> Any (Free search)</label></span>
                    {% endif %}

                    {% if whatToSearch=="withCompounds" %}
                        <span data-tooltip class="has-tip" title="Search within sentences where liver markers co-occur with automatically detected chemical entity mentions"><label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" CHECKED value="withCompounds"><span class="custom radio checked"></span> With Compounds</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search within sentences where liver markers co-occur with automatically detected chemical entity mentions"><label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" value="withCompounds"><span class="custom radio"></span> With Compounds</label></span>
                    {% endif %}

                    {% if whatToSearch=="compoundsMarkersRelations" %}
                        <span data-tooltip class="has-tip" title="Search for sentence based biochemical liver markers-chemical compound/drug relations detected by a pattern and/or machine learning method. Extracted relations cover increase, decrease or alteration interactions. You can enter either names of liver markers or chemicals"><label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" CHECKED value="compoundsMarkersRelations"><span class="custom radio checked"></span> Marker-chemical relations</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search for sentence based biochemical liver markers-chemical compound/drug relations detected by a pattern and/or machine learning method. Extracted relations cover increase, decrease or alteration interactions. You can enter either names of liver markers or chemicals"><label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" value="compoundsMarkersRelations"><span class="custom radio"></span> Marker-chemical relations</label></span>
                    {% endif %}

                </fieldset>
        </div>
        <div class="large-4 columns">
                <fieldset>
                    <legend>Source:</legend>
                    {% if source is defined %}
                        {% if source not in ["pubmed","fulltext","nda","epar"] %}
                            {% set markerSource = default_source %}
                        {% else %}
                            {% set markerSource = source %}
                        {% endif %}
                    {% else %}
                        {% set markerSource = default_source %}
                    {% endif %}
                    {% if markerSource=="all" %}
                        <span data-tooltip class="has-tip" title="Search in all sentences"><label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" CHECKED value="all"><span class="custom radio"></span> All</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all sentences"><label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" value="all"><span class="custom radio"></span> All</label></span>
                    {% endif %}
                    {% if markerSource=="pubmed" %}
                        <span data-tooltip class="has-tip" title="Search in all PubMed sentences"><label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" CHECKED value="pubmed"><span class="custom radio"></span> Pubmed</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all PubMed sentences"><label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" value="pubmed"><span class="custom radio"></span> Pubmed</label></span>
                    {% endif %}
                    {% if markerSource=="fulltext" %}
                        <span data-tooltip class="has-tip" title="Search in all full text sentences"><label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" CHECKED value="fulltext"><span class="custom radio"></span> Fulltext</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all full text sentences"><label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" value="fulltext"><span class="custom radio"></span> Fulltext</label></span>
                    {% endif %}
                    {% if markerSource=="nda" %}
                        <span data-tooltip class="has-tip" title="Search in FDA New Drug Approvals (NDAs) sentences"><label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" CHECKED value="nda"><span class="custom radio"></span> NDA</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in FDA New Drug Approvals (NDAs) sentences"><label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" value="nda"><span class="custom radio"></span> NDA</label></span>
                    {% endif %}
                    {% if markerSource=="epar" %}
                        <span data-tooltip class="has-tip" title="Search in all European public assessment reports (EPAR) sentences"><label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" CHECKED value="epar"><span class="custom radio"></span> EPAR</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in all European public assessment reports (EPAR) sentences"><label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" value="epar"><span class="custom radio"></span> EPAR</label></span>
                    {% endif %}

                </fieldset>
            </div>
        </form>
        <div class="large-4 columns">
        </div>
    </div>
  </li>
  {% if entityType=="toxicEndpoint" %}
    <li class="active" id="toxicEndpointsTab">
  {% else %}
    <li id="toxicEndpointsTab">
  {% endif %}
    <form name="endpointform" class="custom endpointform" onsubmit="return submitForm();">
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            {% if entityName is defined %}
                <input id="tags-endpoints" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_endpoint }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
            {% else %}
                <input id="tags-endpoints" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_endpoint }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_endpoint }}">
            {% endif %}
            <a class="button orange bigSearch" >Search</a>

        </div>
    </div>
    <div class="advanceSearch">
            <div class="large-4 columns">
                <fieldset>
                    <legend>Select toxicity endpoint:</legend>
                    {% if endpoint is defined %}
                        {% if endpoint not in ["hepatotoxicity","nephrotoxicity","cardiotoxicity","thyrotoxicity","phospholipidosis"] %}
                            {% set endpoint = default_endpoint %}
                        {% else %}
                            {% set endpoint = endpoint %}
                        {% endif %}
                    {% else %}
                        {% set endpoint = default_endpoint %}
                    {% endif %}
                    {% if endpoint=="hepatotoxicity" %}
                        <span data-tooltip class="has-tip" title="Search keywords of hepatotoxicity endpoint"><label for="radioSource"><input name="endpoint" type="radio" id="radioEndpoint" style="display:none;" CHECKED value="hepatotoxicity"><span class="custom radio"></span> Hepatotoxicity</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search keywords of hepatotoxicity endpoint"><label for="radioSource"><input name="endpoint" type="radio" id="radioEndpoint" style="display:none;" value="hepatotoxicity"><span class="custom radio"></span> Hepatotoxicity</label></span>
                    {% endif %}
                    {% if endpoint=="nephrotoxicity" %}
                        <span data-tooltip class="has-tip" title="Search keywords of nephrotoxicity endpoint"><label for="radioSource"><input name="endpoint" type="radio" id="radioEndpoint" style="display:none;" CHECKED value="nephrotoxicity"><span class="custom radio"></span> Nephrotoxicity</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search keywords of nephrotoxicity endpoint"><label for="radioSource"><input name="endpoint" type="radio" id="radioEndpoint" style="display:none;" value="nephrotoxicity"><span class="custom radio"></span> Nephrotoxicity</label></span>
                    {% endif %}
                    {% if endpoint=="cardiotoxicity" %}
                        <span data-tooltip class="has-tip" title="Search keywords of cardiotoxicity endpoint"><label for="radioSource"><input name="endpoint" type="radio" id="radioEndpoint" style="display:none;" CHECKED value="cardiotoxicity"><span class="custom radio"></span> Cardiotoxicity</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search keywords of cardiotoxicity endpoint"><label for="radioSource"><input name="endpoint" type="radio" id="radioEndpoint" style="display:none;" value="cardiotoxicity"><span class="custom radio"></span> Cardiotoxicity</label></span>
                    {% endif %}
                    {% if endpoint=="thyrotoxicity" %}
                        <span data-tooltip class="has-tip" title="Search keywords of thyrotoxicity endpoint"><label for="radioSource"><input name="endpoint" type="radio" id="radioEndpoint" style="display:none;" CHECKED value="thyrotoxicity"><span class="custom radio"></span> Thyrotoxicity</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search keywords of thyrotoxicity endpoint"><label for="radioSource"><input name="endpoint" type="radio" id="radioEndpoint" style="display:none;" value="thyrotoxicity"><span class="custom radio"></span> Thyrotoxicity</label></span>
                    {% endif %}
                    {% if endpoint=="phospholipidosis" %}
                        <span data-tooltip class="has-tip" title="Search keywords of phospholipidosis endpoint"><label for="radioSource"><input name="endpoint" type="radio" id="radioEndpoint" style="display:none;" CHECKED value="phopholipidosis"><span class="custom radio"></span> Phospholipidosis</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search keywords of phospholipidosis endpoint"><label for="radioSource"><input name="endpoint" type="radio" id="radioEndpoint" style="display:none;" value="phopholipidosis"><span class="custom radio"></span> Phospholipidosis</label></span>
                    {% endif %}
                </fieldset>
            </div>
        </form>
        <div class="large-4 columns">
        </div>
    </div>
    </li>
    {% if entityType=="gene" %}
        <li class="active" id="genesTab">
    {% else %}
        <li id="genesTab">
    {% endif %}
    <form name="geneform" class="custom geneform" onsubmit="return submitForm();">
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            {% if entityName is defined %}
                <input id="tags-genes" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_geneSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
            {% else %}
                <input id="tags-genes" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_geneSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_geneSearch }}">
            {% endif %}
            <a class="button orange bigSearch" >Search</a>
        </div>
    </div>
    <div class="advanceSearch">
            <div class="large-4 columns">
                <fieldset>
                    <legend>What are you searching?</legend>
                    {% set whatToSearch_gene = default_whatToSearch_gene %}
                    {% if whatToSearch_gene=="any" %}
                        <span data-tooltip class="has-tip" title="Search all documents"><label for="radioWhatToSearch"><input name="geneWhatToSearch" type="radio" id="radioGeneWhatToSearch" style="display:none;" CHECKED value="any"><span class="custom radio"></span>  Any</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search all documents"><label for="radioWhatToSearch"><input name="geneWhatToSearch" type="radio" id="radioGeneWhatToSearch" style="display:none;" value="any"><span class="custom radio"></span> Any</label></span>
                    {% endif %}

                    {% if whatToSearch_gene=="withCompound" %}
                        <span data-tooltip class="has-tip" title="Search in text where compounds are comentioned"> <label for="radioWhatToSearch"><input name="geneWhatToSearch" type="radio" id="radioGeneWhatToSearch" style="display:none;" CHECKED value="withCompounds"><span class="custom radio checked"></span> With Compounds</label></span>
                    {% else %}
                        <span data-tooltip class="has-tip" title="Search in text where compounds are comentioned"><label for="radioWhatToSearch"><input name="geneWhatToSearch" type="radio" id="radioGeneWhatToSearch" style="display:none;" value="withCompounds"><span class="custom radio"></span> With Compounds</label></span>
                    {% endif %}
                </fieldset>
            </div>
            <div class="large-4 columns">
                <fieldset>
                    <legend>Search:</legend>
                        {% if source is not defined %}
                            {% set source="geneName" %}
                        {% endif %}
                        {% if source == "geneName" %}
                            <span data-tooltip class="has-tip" title="Search in PubMed abstracts by gene name"><label for="radioSource"><input name="geneSource" type="radio" id="radioGeneSource" style="display:none;" CHECKED value="geneName"><span class="custom radio"></span>Gene Name</label></span>
                            <span data-tooltip class="has-tip" title="Search in PubMed abstracts by Entrez Gene ID"><label for="radioSource"><input name="geneSource" type="radio" id="radioGeneSource" style="display:none;" value="geneId"><span class="custom radio"></span>Entrez Gene ID</label></span>
                        {% elseif source == "geneId" %}
                            <span data-tooltip class="has-tip" title="Search in PubMed abstracts by gene name"><label for="radioSource"><input name="geneSource" type="radio" id="radioGeneSource" style="display:none;" value="geneName"><span class="custom radio"></span>Gene Name</label></span>
                            <span data-tooltip class="has-tip" title="Search in PubMed abstracts by Entrez Gene ID"><label for="radioSource"><input name="geneSource" type="radio" id="radioGeneSource" style="display:none;" CHECKED value="geneId"><span class="custom radio"></span>Entrez Gene ID</label></span>
                        {% else %}
                            <span data-tooltip class="has-tip" title="Search in PubMed abstracts by gene name"><label for="radioSource"><input name="geneSource" type="radio" id="radioGeneSource" style="display:none;" CHECKED value="geneName"><span class="custom radio"></span>Gene Name</label></span>
                            <span data-tooltip class="has-tip" title="Search in PubMed abstracts by Entrez Gene ID"><label for="radioSource"><input name="geneSource" type="radio" id="radioGeneSource" style="display:none;" value="geneId"><span class="custom radio"></span>Entrez Gene ID</label></span>
                        {% endif %}
                </fieldset>
            </div>
        </form>
        <div class="large-4 columns">
        </div>
    </div>
  </li>
</ul>
<div class="clear-both"></div>