{% extends '::frontend.html.twig' %}
{% block title %}Listing Evidences {% endblock %}
{% block article %}
    {% include 'FrontendBundle:Search_document:tags_code.html.twig' %}
    <div id="evidences">
        {% set entityName=entity.getName %}
        <a href="{{ path('export_abstracts',{'field':field, 'whatToSearch': whatToSearch, 'entityType': entityType, 'entityName': entityName, 'download': true}) }}">(Generate a file with results)</a>
        {% set foundFor=entityType %}
        {% if foundFor=="CompoundDict" %}
            {% set foundFor="Compound" %}
        {% endif %}
        {% set entityId = entity.getId %}
        <div id="documentsResults">
            <a name="documents"></a>
            {% if entityType in ["Cytochrome", "Marker"] %}
            {% else %}
                <div class="jumpToDocuments">
                    <a href="#" id="jumpToAbstracts">(View abstracts)</a>
                </div>
            {% endif %}
            <h3>Ranked sentences in Documents for {{foundFor}}: {{ entityBackup }}</h3>
            <div class="btmspc-dbl">
                <small>
                    <em>
                        Entity mentions are highlighted as follows:
                        <mark class="termSearched">What you searched</mark>, <mark class="compound">Compounds</mark>, <mark class="cytochrome">CYPs</mark>, <mark class="marker">Markers</mark>, <mark class="term">Terms</mark>, <mark class="specie">Species</mark>
                    </em>
                    . Curated evidences are indicated by:
                    <a class="curated" href="#"> </a>
                </small>
            </div>
            <table id="tableResults" class="tablesorter">
                <thead>
                    <th>Source</th>
                    <th>Score</th>
                    <th>Pattern</th>
                    <th>Rule</th>
                    <th>Sentence</th>
                    <th>Curation</th>
                </thead>
                <tbody>
                    {% set contador = 1 %}
                    {% for entity2Document in arrayEntity2Document %}
                        <tr class="document {{ cycle(['odd', 'even'], contador) }}">
                            {% set contador = contador + 1 %}
                            {% set kind = entity2Document.document.getKind %}
                            {% set score = entity2Document.document.getHepval %}
                            {% set score = score|number_format(2) %}
                            {% set score = score|colorCodingScore %}
                            <td>
                            {% if kind == "pubmed" %}
                                {% set pmid=entity2Document.document.getUid %}
                                {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmid %}
                                {% set imageRoute = 'images/pubmed.png' %}
                                {% set sid=entity2Document.document.getSentenceId %}
                                <span data-tooltip class='has-tip' data-options='touch_close_text:tap to close' title='Pubmed link:{{ link }}<br>uid: {{ pmid }}<br/>sid: {{ sid }}<br/>'>
                                        <a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a>
                                    </span>
                            {% elseif kind == "fulltext" %}
                                {% set pmid=entity2Document.document.getUid %}
                                {% set arrayPmid = pmid|split('_') %}
                                {% set pmidCut = arrayPmid[1] %}
                                {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmidCut %}
                                {% set imageRoute = 'images/fulltext.png' %}
                                <a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a>
                            {% elseif kind == "nda" %}
                                {% set link="http://www.fda.gov" %}
                                {% set imageRoute = 'images/nda.png' %}
                                <a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a>
                            {% elseif kind == "epar" %}
                                {% set link="http://www.fda.gov" %}
                                {% set imageRoute = 'images/epar.png' %}
                                <a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a>
                            {% endif %}
                            </td>
                            <td class="center">
                                {{ score |raw }}
                            </td>
                            <td class="center">
                                {{ score |raw }}
                            </td>
                            <td class="center">
                                {{ score |raw }}
                            </td>
                            {% set text=entity2Document.document.getText %}
                            <td>
                                {{ text | highlightEntitiesDocuments (entity2Document.document,entityBackup,field,whatToSearch, source, entityType)| raw }}
                            </td>
                            <td class="center">
                                <small>
                                    {% set curation=entity2Document.getCuration %}
                                    {% if curation is empty %}
                                        {% set curation=0 %}
                                    {% endif %}
                                    {% set curationHtml= curation | setCurationHtml(entity2Document.getId(), entityType, "document") %}
                                    <div id="free-curation-{{ entity2Document.getId }}">
                                        {{ curationHtml | raw }}
                                    </div>
                                </small>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


            <!-- here pagination block for Documents -->

           <div class="pagination">
                {{ simple_paginator_render(
                    'search_interface_search_field_whatToSearch_entityType_source_entity', 'documents',
                        {
                            'routeParams' : {'field' : field, 'whatToSearch' : whatToSearch, 'entityType' : entityType, 'source' : source, 'entityName' : entityBackup},
                            'container_class' : 'pagination'
                        }
                    )
                }}
            </div>
        </div>
        {% if arrayEntity2Abstract is defined %}
            <div id="abstractsResults">
                <a name="abstracts"></a>
                <div class="jumpToDocuments">
                    <a href="#documents" id="jumpToDocuments">(View sentences)</a>
                </div>
                <h3>Ranked Abstracts for {{foundFor}}: {{ entityBackup }}</h3>
                <div class="btmspc-dbl">
                    <small>
                        <em>
                            Entity mentions are highlighted as follows:
                            <mark class="termSearched">What you searched</mark>, <mark class="compound">Compounds</mark>, <mark class="cytochrome">CYPs</mark>, <mark class="marker">Markers</mark>, <mark class="keyword">Keywords</mark>, <mark class="specie">Species</mark>
                        </em>
                        . Curated evidences are indicated by:
                        <a class="curated" href="#"> </a>
                    </small>
                </div>
                {% set contador = 1 %}
                {% for entity2Abstract in arrayEntity2Abstract %}
                    <div class="abstract {{ cycle(['odd', 'even'], contador) }}">
                        {% set contador = contador + 1 %}
                        <p>
                            {% set score = entity2Abstract.abstracts.getHepval %}
                            {% set score = score|number_format(2) %}
                            {% set score = score|colorCodingScore %}
                            {% set imageRoute = 'images/pubmed.png' %}
                            {% set pmid = entity2Abstract.abstracts.getPmid %}
                            <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ pmid }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo" /></a>
                            {{ score |raw }}.
                            {% set text = entity2Abstract.abstracts.getText %}
                            {{ text | highlightEntitiesAbstracts (entity2Abstract.abstracts,entityBackup,field,whatToSearch,source,entityType)| raw }}
                             <small>
                                {% set curation=entity2Abstract.getCuration %}
                                {% if curation is empty %}
                                    {% set curation=0 %}
                                {% endif %}
                                {% set curationHtml= curation | setCurationHtml(entity2Abstract.getId(), entityType, "abstract") %}
                                <div id="free-curation-{{ entity2Abstract.getId }}">
                                    {{ curationHtml | raw }}
                                </div>
                        </small>
                        </p>
                    </div>
                {% endfor %}

                <!-- here pagination block for Abstracts -->

               <div class="pagination">
                    {{ simple_paginator_render(
                        'search_interface_search_field_whatToSearch_entityType_source_entity', 'abstracts',
                            {
                                'routeParams' : {'field' : field, 'whatToSearch' : whatToSearch, 'entityType' : entityType, 'source' : source, 'entityName' : entityBackup},
                                'container_class' : 'pagination'
                            }
                        )
                    }}
                </div>
            </div>
        {% endif %}
    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}