{% extends '::frontend.html.twig' %}
{% block title %}Listing Evidences {% endblock %}
{% block article %}
    {% include 'FrontendBundle:Search_document:tags_code.html.twig' %}
    <div id="evidences">
        {% set entityName=entity.getName %}
        <a href="{{ path('export_abstracts',{'field':field, 'whatToSearch': whatToSearch, 'entityType': entityType, 'entityName': entityName, 'download': true}) }}">(Generate a file with results)</a>
        {% set foundFor=entityType %}
        {% if foundFor=="CompoundDict" %}
            {% set foundFor="Compound" %}
        {% endif %}
        {% set entityId = entity.getId %}
        <div id="documentsResults">
            <a name="documents"></a>
            {% if entityType in ["Cytochrome", "Marker"] %}
            {% else %}
                <div class="jumpToDocuments">
                    <a href="#" id="jumpToAbstracts">(Jump to Abstracts)</a>
                </div>
            {% endif %}
            <h3>Ranked sentences in Documents for {{foundFor}}: {{ entityBackup }}</h3>
            <div class="btmspc-dbl">
                <small>
                    <em>
                        Entity mentions are highlighted as follows:
                        <mark class="compound">Compounds</mark>, <mark class="cyp">CYPs</mark>, <mark class="marker">Markers</mark>, <mark class="term">Terms</mark>, <mark class="specie">Species</mark>
                    </em>
                    . Curated evidences are indicated by:
                    <a class="curated" href="#"> </a>
                </small>
            </div>
            {% set contador = 1 %}
            {% for entity2Document in arrayEntity2Document %}
                <div class="document {{ cycle(['odd', 'even'], contador) }}">
                    {% set contador = contador + 1 %}
                    <p>
                        <small>
                            {% set kind = entity2Document.document.getKind %}
                            {% set score = entity2Document.document.getHepval %}
                            {% set score = score|number_format(2) %}
                            {% set score = score|colorCodingScore %}

                            {% if kind == "pubmed" %}
                                {% set pmid=entity2Document.document.getUid %}
                                {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmid %}
                                {% set imageRoute = 'images/pubmed.jpg' %}
                            {% elseif kind == "fulltext" %}
                                {% set pmid=entity2Document.document.getUid %}
                                {% set arrayPmid = pmid|split('_') %}
                                {% set pmidCut = arrayPmid[1] %}
                                {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmidCut %}
                                {% set imageRoute = 'images/pubmed.jpg' %}
                            {% elseif kind == "nda" %}
                                {% set link="http://www.fda.gov" %}
                                {% set imageRoute = 'images/fda.jpg' %}
                            {% elseif kind == "epar" %}
                                {% set link="http://www.fda.gov" %}
                                {% set imageRoute = 'images/fda.jpg' %}
                            {% endif %}
                            (score: {{ score |raw }})

                        </small>
                        {% set text=entity2Document.document.getText %}
                        {{ text | highlightEntitiesDocuments (entity2Document.document,entityBackup)| raw }}
                        <a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a>
                    </p>
                </div>
            {% endfor %}

            <!-- here pagination block for Documents -->

           <div class="pagination">
                {{ simple_paginator_render(
                    'search_interface_search_field_whatToSearch_entityType_entity', 'documents',
                        {
                            'routeParams' : {'field' : field, 'whatToSearch' : whatToSearch, 'entityType' : entityType, 'entityName' : entityBackup},
                            'container_class' : 'pagination'
                        }
                    )
                }}
            </div>
        </div>
        {% if arrayEntity2Abstract is defined %}
            <div id="abstractsResults">
                <a name="abstracts"></a>
                <div class="jumpToDocuments">
                    <a href="#documents" id="jumpToDocuments">(Jump to Documents)</a>
                </div>
                <h3>Ranked sentences in Abstracts for {{foundFor}}: {{ entityBackup }}</h3>
                <div class="btmspc-dbl">
                    <small>
                        <em>
                            Entity mentions are highlighted as follows:
                            <mark class="compound">Compounds</mark>, <mark class="cyp">CYPs</mark>, <mark class="marker">Markers</mark>, <mark class="keyword">Keywords</mark>, <mark class="specie">Species</mark>
                        </em>
                        . Curated evidences are indicated by:
                        <a class="curated" href="#"> </a>
                    </small>
                </div>
                {% set contador = 1 %}
                {% for entity2Abstract in arrayEntity2Abstract %}
                    <div class="abstract {{ cycle(['odd', 'even'], contador) }}">
                        {% set contador = contador + 1 %}
                        <p>
                            {% set score = entity2Abstract.abstracts.getHepval %}
                            {% set score = score|number_format(2) %}
                            {% set score = score|colorCodingScore %}
                            (score: {{ score |raw }})
                            {% set imageRoute = 'images/pubmed.jpg' %}
                            {% set text = entity2Abstract.abstracts.getText %}
                            {{ text | highlightEntitiesAbstracts (entity2Abstract.abstracts,entityBackup)| raw }}
                            <small>
                                {% set pmid = entity2Abstract.abstracts.getPmid %}
                                <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ pmid }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo" /></a>

                                <a class="rgt-arw no-curated" href="{{ path('curate_evidences_abstract', {'pmid': entity2Abstract.getAbstracts.getPmid}) }}">Curate</a>
                            </small>
                        </p>
                    </div>
                {% endfor %}

                <!-- here pagination block for Abstracts -->

               <div class="pagination">
                    {{ simple_paginator_render(
                        'search_interface_search_field_whatToSearch_entityType_entity', 'abstracts',
                            {
                                'routeParams' : {'field' : field, 'whatToSearch' : whatToSearch, 'entityType' : entityType, 'entityName' : entityBackup},
                                'container_class' : 'pagination'
                            }
                        )
                    }}
                </div>
            </div>
        {% endif %}
    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}