{% set arrayCompounds=['CompoundDict','CompoundMesh','CompoundNer'] %}
<dl class="tabs">
    {# set default values #}
    {% if field is not defined %}
        {% set field = default_field %}
    {% endif %}
    {% if searchInto is not defined %}
        {% set searchInto = default_searchInto %}
    {% endif %}
    {% if whatToSearch is not defined %}
        {% set whatToSearch = default_whatToSearch %}
    {% endif %}
    {% if whatToSearch_keyword is not defined %}
        {% set whatToSearch_keyword = default_whatToSearch_keyword %}
    {% endif %}
    {% if kind is not defined %}
        {% set kind = default_kind %}
    {% endif %}
    {% if entityType is not defined %}
        {% set entityType = default_entityType %}
    {% endif %}
    {% if entityName is not defined %}
        {% set entityName = default_entityName %}
    {% endif %}
    {% if entityId is not defined %}
        {% set entityId = default_entityId %}
    {% endif %}
    {% if keywordSearch is not defined %}
        {% set keywordSearch = default_keywordSearch %}
    {% endif %}
    {% if cytochromeName is not defined %}
        {% set cytochromeName = default_cytochromeName %}
    {% endif %}
    {% if cytochromeId is not defined %}
        {% set cytochromeId = default_cytochromeId %}
    {% endif %}
    {% if markerName is not defined %}
        {% set markerName = default_markerName %}
    {% endif %}
    {% if markerId is not defined %}
        {% set markerId = default_markerId %}
    {% endif %}
  {% if entityType=="keyword" %}
    <dd class="active"><a href="#keywords" name="keyword">Keywords</a></dd>
  {% else %}
    <dd><a href="#keywords" name="keyword">Keywords</a></dd>
  {% endif %}

  {% if entityType in arrayCompounds %}
    <dd class="active"><a href="#compounds" name="compoundDict">Compounds</a></dd>
  {% else %}
    <dd><a href="#compounds" name="compoundDict">Compounds</a></dd>
  {% endif %}

  {% if entityType=="Cytochrome" %}
    <dd class="active"><a href="#cytochromes" name="cytochrome">Cytochromes</a></dd>
  {% else %}
    <dd><a href="#cytochromes" name="cytochrome">Cytochromes</a></dd>
  {% endif %}

  {% if entityType=="Marker" %}
    <dd class="active"><a href="#markers" name="marker">Markers</a></dd>
  {% else %}
    <dd class="hide-for-small"><a href="#markers" name="marker">Markers</a></dd>
  {% endif %}

</dl>
<ul class="tabs-content">
    {% if entityType=="keyword" %}
        <li class="active" id="keywordsTab">
    {% else %}
        <li id="keywordsTab">
    {% endif %}

    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            {% if entityName is defined %}
                <input id="tags-keywords" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_keywordSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
            {% else %}
                <input id="tags-keywords" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_keywordSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_keywordSearch }}">
            {% endif %}
            <a class="button orange bigSearch" >Search</a>
        </div>
    </div>
    <div class="advanceSearch">
        <div class="large-4 columns">
            <form class="custom">
                <fieldset>
                    <legend>What are you searching??</legend>
                    {% set whatToSearch_keyword = default_whatToSearch_keyword %}
                    {% if whatToSearch_keyword=="any" %}
                        <label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" CHECKED value="any"><span class="custom radio"></span> Any</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="any"><span class="custom radio"></span> Any</label>
                    {% endif %}

                    {% if whatToSearch_keyword=="withCompound" %}
                        <label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" CHECKED value="withCompounds"><span class="custom radio checked"></span> With compounds</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withCompounds"><span class="custom radio"></span> With Compounds</label>
                    {% endif %}

                    {% if whatToSearch_keyword=="withCytochrome" %}
                        <label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" CHECKED value="withCytochromes"><span class="custom radio"></span> With CYPs</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withCytochromes"><span class="custom radio"></span> With CYPs</label>
                    {% endif %}

                    {% if whatToSearch_keyword=="withMarker" %}
                        <label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" CHECKED value="withMarkers"><span class="custom radio"></span> With Markers</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withMarkers"><span class="custom radio"></span> With Markers</label>
                    {% endif %}
                </fieldset>
            </form>
        </div>
        <div class="large-4 columns">
            <form class="custom">
                <fieldset>
                    <legend>Source:</legend>
                    {% if source is defined %}
                        {% if source not in ["abstract","pubmed","fulltext","nda","epar"] %}
                            {% set keywordSource = default_source %}
                        {% else %}
                            {% set keywordSource = source %}
                        {% endif %}
                    {% else %}
                        {% set keywordSource = default_source %}
                    {% endif %}
                    {% if keywordSource=="abstract" %}
                        <label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="abstract"><span class="custom radio"></span> Abstracts</label>
                    {% else %}
                        <label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="abstract"><span class="custom radio"></span> Abstracts</label>
                    {% endif %}
                    {% if keywordSource=="pubmed" %}
                        <label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="pubmed"><span class="custom radio"></span> Pubmed</label>
                    {% else %}
                        <label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="pubmed"><span class="custom radio"></span> Pubmed</label>
                    {% endif %}
                    {% if keywordSource=="fulltext" %}
                        <label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="fulltext"><span class="custom radio"></span> Fulltext</label>
                    {% else %}
                        <label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="fulltext"><span class="custom radio"></span> Fulltext</label>
                    {% endif %}
                    {% if keywordSource=="nda" %}
                        <label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="nda"><span class="custom radio"></span> NDA</label>
                    {% else %}
                        <label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="nda"><span class="custom radio"></span> NDA</label>
                    {% endif %}
                    {% if keywordSource=="epar" %}
                        <label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" CHECKED value="epar"><span class="custom radio"></span> EPAR</label>
                    {% else %}
                        <label for="radioSource"><input name="keywordSource" type="radio" id="radioKeywordSource" style="display:none;" value="epar"><span class="custom radio"></span> EPAR</label>
                    {% endif %}
                </fieldset>
            </form>
        </div>
        <div class="large-4 columns">
        </div>
    </div>
  </li>
    {% if entityType in arrayCompounds %}
        <li class="active" id="compoundsTab">
    {% else %}
        <li id="compoundsTab">
    {% endif %}
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            {% if whatToSearch=="name" %}
                {% if entity is defined %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityBackup }}">
                {% else %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_entityName }}">
                {% endif %}
            {% elseif whatToSearch=="id" %}
                {% if entity is defined %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityBackup }}">
                {% else %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityId }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_entityName }}">
                {% endif %}
            {% elseif whatToSearch=="smile" %}
                {% if entity is defined %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityBackup }}">
                {% else %}
                    <input id="tags-compounds" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_entityName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_entityName }}">
                {% endif %}
            {% endif %}
            <a class="button orange bigSearch" >Search</a>
        </div>
    </div>
    <div class="advanceSearch">
        <div class="large-4 columns">
            <form class="custom">
                <fieldset>
                    <legend>What are you searching?</legend>
                    {% if whatToSearch not in ["name","id","canonical","any", "withCompounds"] %}
                        {% set whatToSearchCytochrome = default_whatToSearch %}
                    {% endif %}
                    {% if whatToSearch=="name" %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="name"><span class="custom radio"></span> Name</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="name"><span class="custom radio"></span> Name</label>
                    {% endif %}

                    {% if whatToSearch=="id" %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="id"><span class="custom radio checked"></span> Id</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="id"><span class="custom radio"></span> Id</label>
                    {% endif %}

                    {% if whatToSearch=="smile" %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="smile"><span class="custom radio"></span> Smile</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="smile"><span class="custom radio"></span> Smile</label>
                    {% endif %}

                    {% if whatToSearch=="inChi" %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="inChi"><span class="custom radio"></span> inChi</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="smile"><span class="custom radio"></span> inChi</label>
                    {% endif %}

                    {% if whatToSearch=="any" %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="any"><span class="custom radio"></span> Any (Free search)</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="any"><span class="custom radio"></span> Any (Free search)</label>
                    {% endif %}

                    {% if whatToSearch=="withCytochromes" %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="withCytochromes"><span class="custom radio"></span> With CYPs</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="withCytochromes"><span class="custom radio"></span> With CYPs</label>
                    {% endif %}

                    {% if whatToSearch=="withMarkers" %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="withMarkers"><span class="custom radio"></span> With Markers</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="withMarkers"><span class="custom radio"></span> With Markers</label>
                    {% endif %}

                    {% if whatToSearch=="compoundsTermsRelations" %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" CHECKED value="compoundsTermsRelations"><span class="custom radio"></span> Relations</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="compoundWhatToSearch" type="radio" id="radioCompoundWhatToSearch" style="display:none;" value="compoundsTermsRelations"><span class="custom radio"></span> Relations</label>
                    {% endif %}
                </fieldset>
            </form>
        </div>
        <div class="large-4 columns">
            <form class="custom">
                <fieldset>
                    <legend>Source:</legend>
                    {% if source is defined %}
                        {% if source not in ["pubmed","fulltext","nda","epar"] %}
                            {% set compoundSource = default_source %}
                        {% else %}
                            {% set compoundSource = source %}
                        {% endif %}
                    {% else %}
                        {% set compoundSource = default_source %}
                    {% endif %}

                    {% if compoundSource=="abstract" %}
                        <label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="abstract"><span class="custom radio"></span> Abstracts</label>
                    {% else %}
                        <label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="abstract"><span class="custom radio"></span> Abstracts</label>
                    {% endif %}
                    {% if compoundSource=="pubmed" %}
                        <label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="pubmed"><span class="custom radio"></span> Pubmed</label>
                    {% else %}
                        <label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="pubmed"><span class="custom radio"></span> Pubmed</label>
                    {% endif %}
                    {% if compoundSource=="fulltext" %}
                        <label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="fulltext"><span class="custom radio"></span> Fulltext</label>
                    {% else %}
                        <label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="fulltext"><span class="custom radio"></span> Fulltext</label>
                    {% endif %}
                    {% if compoundSource=="nda" %}
                        <label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="nda"><span class="custom radio"></span> NDA</label>
                    {% else %}
                        <label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="nda"><span class="custom radio"></span> NDA</label>
                    {% endif %}
                    {% if compoundSource=="epar" %}
                        <label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" CHECKED value="epar"><span class="custom radio"></span> EPAR</label>
                    {% else %}
                        <label for="radioSource"><input name="compoundSource" type="radio" id="radioCompoundSource" style="display:none;" value="epar"><span class="custom radio"></span> EPAR</label>
                    {% endif %}
                </fieldset>
            </form>
        </div>
        <div class="large-4 columns">
        </div>
    </div>
  </li>
    {% if entityType=="Cytochrome" %}
        <li class="active" id="cytochromesTab">
    {% else %}
        <li id="cytochromesTab">
    {% endif %}
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            {% if entityName is defined %}
                <input id="tags-cytochromes" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_cytochromeName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
            {% else %}
                <input id="tags-cytochromes" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_cytochromeName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_cytochromeName }}">
            {% endif %}
            <a class="button orange bigSearch" >Search</a>

        </div>
    </div>
    <div class="advanceSearch">
        <div class="large-4 columns">
            <form class="custom">
                <fieldset>
                    <legend>What are you searching?</legend>
                    {% if whatToSearch=="name" %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="name"><span class="custom radio"></span> Name</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="name"><span class="custom radio"></span> Name</label>
                    {% endif %}

                    {% if whatToSearch=="id" %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="id"><span class="custom radio checked"></span> Id</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="id"><span class="custom radio"></span> Id</label>
                    {% endif %}

                    {% if whatToSearch=="canonical" %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="canonical"><span class="custom radio"></span> Canonical</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="canonical"><span class="custom radio"></span> Canonical</label>
                    {% endif %}

                    {% if whatToSearch=="any" %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="any"><span class="custom radio"></span> Any (Free search)</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="any"><span class="custom radio"></span> Any (Free search)</label>
                    {% endif %}

                    {% if whatToSearch=="withCompounds" %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="withCompounds"><span class="custom radio"></span> With Compounds</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="withCompounds"><span class="custom radio"></span> With Compounds</label>
                    {% endif %}
                    {% if whatToSearch=="compoundsCytochromesRelations" %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" CHECKED value="compoundsCytochromesRelations"><span class="custom radio"></span> Relations</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="cytochromeWhatToSearch" type="radio" id="radioCytochromeWhatToSearch" style="display:none;" value="compoundsCytochromesRelations"><span class="custom radio"></span> Relations</label>
                    {% endif %}
                </fieldset>
            </form>
        </div>
        <div class="large-4 columns">
            <form class="custom">
                <fieldset>
                    <legend>Source:</legend>
                    {% if source is defined %}
                        {% if source not in ["pubmed","fulltext","nda","epar"] %}
                            {% set cytochromeSource = default_source %}
                        {% else %}
                            {% set cytochromeSource = source %}
                        {% endif %}
                    {% else %}
                        {% set cytochromeSource = default_source %}
                    {% endif %}

                    {% if cytochromeSource=="pubmed" %}
                        <label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" CHECKED value="pubmed"><span class="custom radio"></span> Pubmed</label>
                    {% else %}
                        <label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" value="pubmed"><span class="custom radio"></span> Pubmed</label>
                    {% endif %}
                    {% if cytochromeSource=="fulltext" %}
                        <label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" CHECKED value="fulltext"><span class="custom radio"></span> Fulltext</label>
                    {% else %}
                        <label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" value="fulltext"><span class="custom radio"></span> Fulltext</label>
                    {% endif %}
                    {% if cytochromeSource=="nda" %}
                        <label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" CHECKED value="nda"><span class="custom radio"></span> NDA</label>
                    {% else %}
                        <label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" value="nda"><span class="custom radio"></span> NDA</label>
                    {% endif %}
                    {% if cytochromeSource=="epar" %}
                        <label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" CHECKED value="epar"><span class="custom radio"></span> EPAR</label>
                    {% else %}
                        <label for="radioSource"><input name="cytochromeSource" type="radio" id="radioCytochromeSource" style="display:none;" value="epar"><span class="custom radio"></span> EPAR</label>
                    {% endif %}
                </fieldset>
            </form>
        </div>
        <div class="large-4 columns">
        </div>
    </div>
  </li>
    {% if entityType=="Marker" %}
        <li class="active" id="markersTab">
    {% else %}
        <li id="markersTab">
    {% endif %}
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            {% if entityName is defined %}
                <input id="tags-markers" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_markerName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
            {% else %}
                <input id="tags-keywords" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_markerName }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_markerName }}">
            {% endif %}
            <a class="button orange bigSearch" >Search</a>

        </div>
    </div>
    <div class="advanceSearch">
        <div class="large-4 columns">
            <form class="custom">
                <fieldset>
                    <legend>What are you searching?</legend>
                    {% if whatToSearch=="name" %}
                        <label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" CHECKED value="name"><span class="custom radio"></span> Name</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" value="name"><span class="custom radio"></span> Name</label>
                    {% endif %}

                    {% if whatToSearch=="id" %}
                        <label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" CHECKED value="id"><span class="custom radio checked"></span> Id</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" value="id"><span class="custom radio"></span> Id</label>
                    {% endif %}

                    {% if whatToSearch=="any" %}
                        <label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" CHECKED value="any"><span class="custom radio checked"></span> Any (Free search)</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" value="any"><span class="custom radio"></span> Any (Free search)</label>
                    {% endif %}

                    {% if whatToSearch=="withCompounds" %}
                        <label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" CHECKED value="withCompounds"><span class="custom radio checked"></span> With Compounds</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" value="withCompounds"><span class="custom radio"></span> With Compounds</label>
                    {% endif %}

                    {% if whatToSearch=="compoundsMarkersRelations" %}
                        <label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" CHECKED value="compoundsMarkersRelations"><span class="custom radio checked"></span> Relations</label>
                    {% else %}
                        <label for="radioWhatToSearch"><input name="markerWhatToSearch" type="radio" id="radioMarkerWhatToSearch" style="display:none;" value="compoundsMarkersRelations"><span class="custom radio"></span> Relations</label>
                    {% endif %}

                </fieldset>
            </form>
        </div>
        <div class="large-4 columns">
            <form class="custom">
                <fieldset>
                    <legend>Source:</legend>
                    {% if source is defined %}
                        {% if source not in ["pubmed","fulltext","nda","epar"] %}
                            {% set markerSource = default_source %}
                        {% else %}
                            {% set markerSource = source %}
                        {% endif %}
                    {% else %}
                        {% set markerSource = default_source %}
                    {% endif %}

                    {% if markerSource=="pubmed" %}
                        <label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" CHECKED value="pubmed"><span class="custom radio"></span> Pubmed</label>
                    {% else %}
                        <label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" value="pubmed"><span class="custom radio"></span> Pubmed</label>
                    {% endif %}
                    {% if markerSource=="fulltext" %}
                        <label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" CHECKED value="fulltext"><span class="custom radio"></span> Fulltext</label>
                    {% else %}
                        <label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" value="fulltext"><span class="custom radio"></span> Fulltext</label>
                    {% endif %}
                    {% if markerSource=="nda" %}
                        <label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" CHECKED value="nda"><span class="custom radio"></span> NDA</label>
                    {% else %}
                        <label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" value="nda"><span class="custom radio"></span> NDA</label>
                    {% endif %}
                    {% if markerSource=="epar" %}
                        <label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" CHECKED value="epar"><span class="custom radio"></span> EPAR</label>
                    {% else %}
                        <label for="radioSource"><input name="markerSource" type="radio" id="radioMarkerSource" style="display:none;" value="epar"><span class="custom radio"></span> EPAR</label>
                    {% endif %}
                </fieldset>
            </form>
        </div>
        <div class="large-4 columns">
        </div>
    </div>
  </li>
</ul>
<div class="clear-both"></div>