{% extends '::frontend.html.twig' %}
{% block title %}Listing Evidences {% endblock %}
{% block article %}
    <div id="methods">
        <ul class="methods">
            <li><a class="button orange" href="">Extraction Method 1</a></li>
            <li><a class="button orange" href="">Extraction Method 2</a></li>
            <li><a class="button orange" href="">Extraction Method 3</a></li>
            <li><a class="button orange" href="">Extraction Method 4</a></li>
        </ul>
    </div>
    <div class="ui-widget">
        <div class="vis-break cntrtxt">
            <input id="tags" class="ui-autocomplete-input text" onclick="this.value=''" placeholder="e.g. compuesto" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="compuesto">

            <a id="bigSearch" class="button orange" href="">Search</a><!-- <a href="#" class="show_hide">Advance Search</a> -->

        </div>
    </div>
    <div class="slidingDiv">
        <div id="advanceSearch">
            <form>
                <p><span id="addVar"><a>Add Search Tearm</a></span></p>
                <p><a id="advanceSearchButton" class="button orange" href="">Advance Search</a></p>
            </form>

        </div>
    </div>
    <script>
            $(".slidingDiv").hide();
            $(".show_hide").show();

            $('.show_hide').click(function(){
            $(".slidingDiv").slideToggle('slow');
            });

            $(function(){
                //create three initial fields
                var startingNo = 1;
                var $node = "";
                for(varCount=0;varCount<startingNo;varCount++){

                    $node += '<p><select id="searchType_'+varCount+'" required="required"  name="searchType_'+varCount+'"><option value="compound">Compound</option><option value="Enzyme">Enzyme</option><option value="organism">Organism</option></select><input class="tags" type="text" name="searchTerm_'+varCount+'" id="searchTerm_'+varCount+'"><span class="removeVar"><a>Remove Search Term</a></span></p>';
                }
                //add them to the DOM
                $('form').prepend($node);
                //remove a textfield
                $('form').on('click', '.removeVar', function(){
                   $(this).parent().remove();
                   varCount--;
                });
                //add a new node
                $('#addVar').on('click', function(){

                    $node = '<p><select id="searchType_'+varCount+'" required="required"  name="searchType_'+varCount+'"><option value="compound">Compound</option><option value="Enzyme">Enzyme</option><option value="organism">Organism</option></select><input class="tags" type="text"  name="searchTerm_'+varCount+'" id="searchTerm_'+varCount+'"><span class="removeVar"><a>Remove Search Term</a></span></p>';
                    varCount++;
                    $(this).parent().before($node);

                    $( ".tags" ).autocomplete({
                        source: "{{ path('homepage') }}",
                        minLength:3,
                    });


                });
                $("#advanceSearchButton").click(function() {
                    var enzima=$('#tags').val();
                    if(enzima==""){
                        alert("Insert compound ");
                    }
                    //generating parameters
                    arraySearchTypes=$('select[id^="searchType_"]');
                    urlParam="";
                    $.each(arraySearchTypes, function(index, value) {
                        typeEntity=value.value;
                        searchTerm=$("#searchTerm_"+index).val();
                        if (searchTerm==""){
                            alert("Insert "+typeEntity+" name or Remove Search Term");
                        }
                        urlParam=urlParam+typeEntity+"="+searchTerm+"&";
                    });

                    urlParam=urlParam.substring(0, urlParam.length - 1);
                    urlParam=encodeURIComponent(urlParam);
                    $('#advanceSearchButton').attr('href','{{ path('homepage') }}compound/'+enzima+"/"+urlParam);
                });
            });
        </script>
    <div id="evidences">
        <h3>Evidences found for: compuesto</h3>
        <div class="btmspc-dbl">
            <small>
                <em>
                    Entity mentions are highlighted as follows:
                    <mark class="compound">Compounds</mark>
                    ,
                    <mark class="enzyme">Enzymes</mark>
                    and
                    <mark class="organism">Organisms</mark>
                </em>
                . Curated evidences are indicated by:
                <a class="curated" href="#"> </a>
            </small>
        </div>
    {% block javascripts_footer %}
    <script>
    	$(function() {
            $( "#tags" ).autocomplete({
                source: "{{ path('homepage') }}",
                minLength:3,
            });
            $( ".tags" ).autocomplete({
                source: "{{ path('homepage') }}",
                minLength:3,
            });
        });

        $("#bigSearch").click(function() {
            var compuesto=$('#tags').val();
            $('#bigSearch').attr('href','{{ path('homepage') }}compound/'+compuesto);
        });
    </script>
    {% endblock %}
{% endblock %}