{% extends '::base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
        <header id="top">
            <h1 id="applogo">
                <a rel="home" href="{{ path('homepage') }}">
                    <img src="{{ asset('images/limtox_logo.png') }}" border="0" />
                    Lim<span style="color:#1b3d65">Tox</span>
                </a>

            </h1>
            <nav id="access" role="navigation">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('homepage') }}">User Area</a></li>
                    {% endif %}
                    <li><a href="https://www.surveymonkey.com/" target="_blank">Feedback</a></li>
                    <li><a href="mailto:mkrallinger@cnio.es">Contact</a></li>
                    <li><strong>Search by:</strong> </li>
                    <li>
                        <select accesskey="S" id="searchby" onchange="goToPage()">
                            {% if field is defined %}
                                {% if field == "hepatotoxicity" %}
                                    <option value="{{ path('search_interface_search_field', {field:'hepatotoxicity'}) }}" selected>Hepatotoxicity</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'hepatotoxicity'}) }}">Hepatotoxicity</option>
                                {% endif %}
                                {% if field == "cardiotoxicity" %}
                                    <option value="{{ path('search_interface_search_field', {field:'cardiotoxicity'}) }}" selected>Cardiotoxicity</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'cardiotoxicity'}) }}">Cardiotoxicity</option>
                                {% endif %}
                                {% if field == "developmentalToxicity" %}
                                    <option value="{{ path('search_interface_search_field', {field:'developmentalToxicity'}) }}" selected>Developmental Toxicity</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'developmentalToxicity'}) }}">Developmental Toxicity</option>
                                {% endif %}
                                {% if field == "nephrotoxicity" %}
                                    <option value="{{ path('search_interface_search_field', {field:'nephrotoxicity'}) }}" selected>Nephrotoxicity</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'nephrotoxicity'}) }}">Nephrotoxicity</option>
                                {% endif %}
                                {% if field == "neurotoxicity" %}
                                    <option value="{{ path('search_interface_search_field', {field:'neurotoxicity'}) }}" selected>Neurotoxicity</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'neurotoxicity'}) }}">Neurotoxicity</option>
                                {% endif %}
                                {% if field == "ototoxicity" %}
                                    <option value="{{ path('search_interface_search_field', {field:'ototoxicity'}) }}" selected>Ototoxicity</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'ototoxicity'}) }}">Ototoxicity</option>
                                {% endif %}
                                {% if field == "pulmonaryToxicity" %}
                                    <option value="{{ path('search_interface_search_field', {field:'pulmonaryToxicity'}) }}" selected>Pulmonary Toxicity</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'pulmonaryToxicity'}) }}">Pulmonary Toxicity</option>
                                {% endif %}
                                {% if field == "skinToxicity" %}
                                    <option value="{{ path('search_interface_search_field', {field:'skinToxicity'}) }}" selected>Skin Toxicity</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'skinToxicity'}) }}">Skin Toxicity</option>
                                {% endif %}
                                {% if field == "genoToxicity" %}
                                    <option value="{{ path('search_interface_search_field', {field:'genoToxicity'}) }}" selected>Genotoxicity</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'genoToxicity'}) }}">Genotoxicity</option>
                                {% endif %}
                                {% if field == "phospholipidosis" %}
                                    <option value="{{ path('search_interface_search_field', {field:'phospholipidosis'}) }}" selected>Phospholipidosis</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'phospholipidosis'}) }}">Phospholipidosis</option>
                                {% endif %}
                                {% if field == "mutagenesis" %}
                                    <option value="{{ path('search_interface_search_field', {field:'mutagenesis'}) }}" selected>Mutagenesis</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'mutagenesis'}) }}">Mutagenesis</option>
                                {% endif %}
                                {% if field == "carcinogenesis" %}
                                    <option value="{{ path('search_interface_search_field', {field:'carcinogenesis'}) }}" selected>Carcinogenesis</option>
                                {% else %}
                                    <option value="{{ path('search_interface_search_field', {field:'carcinogenesis'}) }}">Carcinogenesis</option>
                                {% endif %}
                            {% else %}
                                <option value="" selected>Select one</option>
                                <option value="{{ path('search_interface_search_field', {field:'hepatotoxicity'}) }}">Hepatotoxicity</option>
                                <option value="{{ path('search_interface_search_field', {field:'cardiotoxicity'}) }}">Cardiotoxicity</option>
                                <option value="{{ path('search_interface_search_field', {field:'developmentalToxicity'}) }}">Developmental Toxicity</option>
                                <option value="{{ path('search_interface_search_field', {field:'nephrotoxicity'}) }}">Nephrotoxicity</option>
                                <option value="{{ path('search_interface_search_field', {field:'neurotoxicity'}) }}">Neurotoxicity</option>
                                <option value="{{ path('search_interface_search_field', {field:'ototoxicity'}) }}">Ototoxicity</option>
                                <option value="{{ path('search_interface_search_field', {field:'pulmonaryToxicity'}) }}">Pulmonary Toxicity</option>
                                <option value="{{ path('search_interface_search_field', {field:'skinToxicity'}) }}">Skin Toxicity</option>
                                <option value="{{ path('search_interface_search_field', {field:'genoToxicity'}) }}">Genotoxicity</option>
                                <option value="{{ path('search_interface_search_field', {field:'phospholipidosis'}) }}">Phospholipidosis</option>
                                <option value="{{ path('search_interface_search_field', {field:'mutagenesis'}) }}">Mutagenesis</option>
                                <option value="{{ path('search_interface_search_field', {field:'carcinogenesis'}) }}">Carcinogenesis</option>
                            {% endif %}
                         </select>
                    </li>
                </ul>
            </nav>
            <div class="clear-both"></div>
            <div id="user-box">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>&nbsp;|&nbsp;
                    <a href="{{ path('fos_user_registration_register') }}">Register</a>
                {% endif %}
            </div>
        </header>
        <section class="content" role="main">
            {% block article %}{% endblock %}
        </section>
        <footer id="bottom" role="contentinfo">
            <nav>
				<ul>
					<li>
					   &copy; {{ 'now'|date('Y') }} - Spanish National Cancer Research Centre. CNIO Structural Biology and BioComputing Programme<br/>
					</li>
					<li>
    					<a target="_blank" href="http://www.etoxproject.eu/"><img src="{{ asset('images/etox-off.png') }}" class="rollover" border="0" /></a>
					</li>
					<li>
    					<a target="_blank" href="http://www.cnio.es"><img src="{{ asset('images/cnio-off.png') }}" class="rollover" border="0" /></a>
					</li>
					<li>
					   <a target="_blank" href="http://www.inab.org"><img src="{{ asset('images/inb-off.png') }}" class="rollover" border="0" /></a>
				    </li>
				</ul>
			</nav>
        </footer>
        {% block javascripts_footer %}
        {% endblock %}
        <script>
            function goToPage()
             {
                var e = document.getElementById("searchby");
                var url = e.options[e.selectedIndex].value;
                if (url != "")
                {
                    window.open(url,'_self');
                }
             }
        </script>
{% endblock %}