{% extends '::frontend.html.twig' %}

{% block article %}
    <section class="row display" role="main">
        <article class="twelve columns">
            <h6>LimTox News</h6>
                    <table id="table_press" width="740" border="0" cellpadding="4">
                      <tr>
                        <td class="categoria">CNIO</td>
                      </tr>



                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">07/06/2017</span> |
                          <span class="medio">ConSalud.es</span> |
                          <span class="titulo">Desarrollan un buscador sobre toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'CNIO_04.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">07/06/2017</span> |
                          <span class="medio">imfarmacias.es</span> |
                          <span class="titulo">LimTox, un buscador online de información sobre toxicidad de fármacos</span> |
                           <a href="{{ path('download_pdf', {'filename':'CNIO_03.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.imfarmacias.es/noticia/12693/limtox-un-buscador-online-de-informacion-sobre-toxicidad-de-farmaco'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>



                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">06/06/2017</span> |
                          <span class="medio">Plenilunia</span> |
                          <span class="titulo">Conoce un buscador en internet de información sobre toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'plenilunia.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://plenilunia.com/novedades-medicas/conoce-un-buscador-en-internet-de-informacion-sobre-toxicidad-de-compuestos-quimicos/45224/'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">06/06/2017</span> |
                          <span class="medio">ConSalud.es</span> |
                          <span class="titulo">Desarrollan un buscador sobre toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'consalud.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://consalud.es/saludigital/revista/desarrollan-un-buscador-sobre-toxicidad-de-compuestos-quimicos-588'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>



                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">06/06/2017</span> |
                          <span class="medio">Prevention World</span> |
                          <span class="titulo">LimTox, el buscador que da información sobre la toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'prevention.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="https://prevention-world.com/actualidad/noticias/limtox-buscador-informacion-toxicidad-compuestos-quimicos/'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">06/06/2017</span> |
                          <span class="medio">IMFarmacias</span> |
                          <span class="titulo">LimTox, un buscador online de información sobre toxicidad de fármacos</span> |
                           <a href="{{ path('download_pdf', {'filename':'imf.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.imfarmacias.es/noticia/12693/limtox-un-buscador-online-de-informacion-sobre-toxicidad-de-farmaco?utm_content=buffer6e8fe&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">06/06/2017</span> |
                          <span class="medio">HERALDO</span> |
                          <span class="titulo">Paciente 360º >Mejorando la "salud" de la sanidad con big data</span> |
                           <a href="{{ path('download_pdf', {'filename':'CNIO_03.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a>
                        </td>
                      </tr>



                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">05/06/2017</span> |
                          <span class="medio">MEDICINA TV</span> |
                          <span class="titulo">Científicos del CNIO desarrollan un buscador ‘on-line’ de información sobre toxicidad de medicamentos</span> |
                           <a href="{{ path('download_pdf', {'filename':'medicina.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.medicinatv.com/noticias/cientificos-del-cnio-desarrollan-un-buscador-on-line-de-informacion-sobre-toxicidad-de-medicamentos'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">05/06/2017</span> |
                          <span class="medio">Diario de Salud</span> |
                          <span class="titulo">El CNIO crea el ‘Google’ de la toxicidad de los medicamentos</span> |
                           <a href="{{ path('download_pdf', {'filename':'diariod.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.diariodesalud.com.do/texto-diario/mostrar/747948/cnio-crea-google-toxicidad-medicamentos'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>




                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">05/06/2017</span> |
                          <span class="medio">ACM Farma</span> |
                          <span class="titulo">LIMTOX, el “google” sobre toxicidad de medicamentos y reacciones adversas</span> |
                           <a href="{{ path('download_pdf', {'filename':'acm.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://acmfarma.com/limtox-el-google-sobre-toxicidad-de-medicamentos-y-reacciones-adversas/'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">05/06/2017</span> |
                          <span class="medio">IM Médico Hospitalario</span> |
                          <span class="titulo">LimTox, un buscador online de información sobre toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'imm.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.immedicohospitalario.es/noticia/11488/limtox-un-buscador-online-de-informacion-sobre-toxicidad-de-compuest'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>



                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">05/06/2017</span> |
                          <span class="medio">JANO</span> |
                          <span class="titulo">Un buscador da información sobre toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'jano.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://jano.es/noticia-un-buscador-da-informacion-sobre-27841'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">05/06/2017</span> |
                          <span class="medio">Crónica Norte</span> |
                          <span class="titulo">Una &#8203;enciclopedia &#8203;online sobre &#8203;la toxicidad de los compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'cronica.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.cronicanorte.es/una-%E2%80%8Benciclopedia-%E2%80%8Bonline-%E2%80%8Bla-toxicidad-los-compuestos-quimicos/114132'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">02/06/2017</span> |
                          <span class="medio">Diario Siglo XXI</span> |
                          <span class="titulo">Científicos del CNIO desarrollan un buscador 'on-line' de información sobre toxicidad de medicamentos</span> |
                           <a href="{{ path('download_pdf', {'filename':'siglo.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.diariosigloxxi.com/texto-ep/mostrar/20170531172120/cientificos-cnio-desarrollan-buscador-on-line-informacion-sobre-toxicidad-medicamentos'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">02/06/2017</span> |
                          <span class="medio">CORREO FARMACÉUTICO</span> |
                          <span class="titulo">Desarrollan un buscador 'on line' de información sobre toxicidad de medicamentos</span> |
                           <a href="{{ path('download_pdf', {'filename':'correo.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.correofarmaceutico.com/2017/06/01/farmacologia/desarrollan-un-buscador-on-line-de-informacion-sobre-toxicidad-de-medicamentos'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>


                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">02/06/2017</span> |
                          <span class="medio">Médicos y Pacientes</span> |
                          <span class="titulo">El CNIO desarrolla un buscador 'on-line' de información sobre toxicidad de medicamentos</span> |
                           <a href="{{ path('download_pdf', {'filename':'medicos.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.medicosypacientes.com/articulo/el-cnio-desarrolla-un-buscador-line-de-informacion-sobre-toxicidad-de-medicamentos'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>



                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">02/06/2017</span> |
                          <span class="medio">Catalunya Vanguardista</span> |
                          <span class="titulo">Reacciones adversas y toxicidad</span> |
                           <a href="{{ path('download_pdf', {'filename':'cata.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.catalunyavanguardista.com/catvan/reacciones-adversas-y-toxicidad/'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>



                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">iSanidad.com</span> |
                          <span class="titulo">‘LimTox’, el buscador online de información sobre toxicidad de medicamentos desarrollado por científicos del CNIO</span> |
                           <a href="{{ path('download_pdf', {'filename':'sanidad.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://isanidad.com/88891/limtox-el-buscador-online-de-informacion-sobre-toxicidad-de-medicamentos-desarrollado-por-cientificos-del-cnio/?platform=hootsuite'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>


                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">ecodiario.eleconomista.es</span> |
                          <span class="titulo">Científicos del CNIO desarrollan un buscador 'on-line' de información sobre toxicidad de medicamentos</span> |
                           <a href="{{ path('download_pdf', {'filename':'eco.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://ecodiario.eleconomista.es/salud/noticias/8397468/05/17/Cientificos-del-CNIO-desarrollan-un-buscador-online-de-informacion-sobre-toxicidad-de-medicamentos.html'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Cuatro</span> |
                          <span class="titulo">Científicos del CNIO desarrollan un buscador 'on-line' de información sobre toxicidad de medicamentos</span> |
                           <a href="{{ path('download_pdf', {'filename':'4.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.cuatro.com/noticias/sociedad/Cientificos-CNIO-desarrollan-informacion-medicamentos_0_2379825687.html'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">TELECINCO</span> |
                          <span class="titulo">Científicos del CNIO desarrollan un buscador 'on-line' de información sobre toxicidad de medicamentos</span> |
                           <a href="{{ path('download_pdf', {'filename':'5.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.telecinco.es/informativos/sociedad/Cientificos-CNIO-desarrollan-informacion-medicamentos_0_2379825686.html'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Infosalus.com</span> |
                          <span class="titulo">Científicos del CNIO desarrollan un buscador 'on-line' de información sobre toxicidad de medicamentos</span> |
                           <a href="{{ path('download_pdf', {'filename':'CNIO_01.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.infosalus.com/asistencia/noticia-cientificos-cnio-desarrollan-buscador-on-line-informacion-toxicidad-medicamentos-20170531172120.html'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">La Información.com</span> |
                          <span class="titulo">Científicos del CNIO desarrollan un buscador 'on-line' de información sobre toxicidad de medicamentos</span> |
                           <a href="{{ path('download_pdf', {'filename':'infor.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.lainformacion.com/salud/investigacion-medica/Cientificos-CNIO-desarrollan-informacion-medicamentos_0_1031298204.html'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Scientific Computing</span> |
                          <span class="titulo">CNIO Launches Online Tool to Extract Drug Toxicity Information from Text</span> |
                           <a href="{{ path('download_pdf', {'filename':'computing.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="https://www.scientificcomputing.com/news/2017/05/cnio-launches-online-tool-extract-drug-toxicity-information-text'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Science Newsline</span> |
                          <span class="titulo">CNIO Presents an Online Tool to Extract Drug Toxicity Information from Text</span> |
                           <a href="{{ path('download_pdf', {'filename':'newsline.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.sciencenewsline.com/news/2017060100200013.html'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Science Magazine</span> |
                          <span class="titulo">CNIO presents an online tool to extract drug toxicity information from text</span> |
                           <a href="{{ path('download_pdf', {'filename':'scienmag.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="https://scienmag.com/cnio-presents-an-online-tool-to-extract-drug-toxicity-information-from-text/'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Biotech</span> |
                          <span class="titulo">CNIO presents an online tool to extract drug toxicity information from text</span> |
                           <a href="{{ path('download_pdf', {'filename':'biotech.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://biotech-spain.com/en/articles/cnio-presents-an-online-tool-to-extract-drug-toxicity-information-from-text/'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Redacción Médica</span> |
                          <span class="titulo">El CNIO crea el ‘Google’ de la toxicidad de los medicamentos </span> |
                           <a href="{{ path('download_pdf', {'filename':'CNIO_03.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="https://www.redaccionmedica.com/secciones/oncologia-medica/el-cnio-crea-el-google-de-la-toxicidad-de-los-medicamentos-3154'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">NEWS Medical</span> |
                          <span class="titulo">LimTox online software tool provides information on drug hepatotoxicity</span> |
                           <a href="{{ path('download_pdf', {'filename':'medical.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.news-medical.net/news/20170601/LimTox-online-software-toolc2a0provides-information-on-drug-hepatotoxicity.aspx'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Cluster Salud</span> |
                          <span class="titulo">LimTox: Un "google" sobre toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'cluster.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://clustersalud.americaeconomia.com/tiinnovacion/limtox-un-google-sobre-toxicidad-de-compuestos-quimicos'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>


                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Medicalxpress.com</span> |
                          <span class="titulo">Team presents an online tool to extract drug toxicity information from text</span> |
                           <a href="{{ path('download_pdf', {'filename':'xpres.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="https://medicalxpress.com/news/2017-06-team-online-tool-drug-toxicity.html'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">NCYT</span> |
                          <span class="titulo">Un buscador da información sobre toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'ncyt.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://noticiasdelaciencia.com/not/24554/un-buscador-da-informacion-sobre-toxicidad-de-compuestos-quimicos/'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">SINC</span> |
                          <span class="titulo">Un buscador da información sobre toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'CNIO_02.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.agenciasinc.es/Noticias/Un-buscador-da-informacion-sobre-toxicidad-de-compuestos-quimicos'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Biotech</span> |
                          <span class="titulo">Un buscador online de información sobre toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'biotech2.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://biotech-spain.com/es/articles/un-buscador-online-de-informaci-n-sobre-toxicidad-de-compuestos-qu-micos/'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>

                      <tr>

                        <td class="opcion " title="">
                          <span class="fecha">01/06/2017</span> |
                          <span class="medio">Madri+D</span> |
                          <span class="titulo">Un buscador online de información sobre toxicidad de compuestos químicos</span> |
                           <a href="{{ path('download_pdf', {'filename':'madrid.pdf'}) }}" target="_blank" class="versionPdf"><strong>PDF</strong></a> |  <a href="http://www.madrimasd.org/notiweb/noticias/un-buscador-online-informacion-sobre-toxicidad-compuestos-quimicos?origen=notiweb'}) }}" target="_blank" class="versionWeb"><strong>URL</strong></a>
                        </td>
                      </tr>
                    </table>
        </article>
    </section>
    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}