{% extends '::frontend.html.twig' %}
{% block title %}Listing Evidences {% endblock %}
{% block article %}
    {% include 'FrontendBundle:Search_keyword:tags_code.html.twig' %}
    {% set tooltipCounter=1 %}
    {% set stringStickyTooltip = "" %}
    <div id="evidences">
        {% if resultSetDocuments.getTotalHits != 0 %}
            <div id="documentsResults">
                <a name="documents"></a>
                {% if whatToSearch not in ["withCytochromes", "withMarkers"] %}
                    <div class="jumpToDocuments">
                        <a href="#" id="jumpToAbstracts">(View abstracts)</a>
                    </div>
                {% endif %}

                <h3>Ranked sentences in Documents for "{{ keyword }}" keyword</h3>
                <div class="btmspc-dbl">
                    <small>
                        <em>
                            Entity mentions are highlighted as follows:
                            <mark class="termSearched">What you searched</mark>, <mark class="compound">Compounds</mark>, <mark class="cytochrome">Cytochromes</mark>, <mark class="marker">Markers</mark>, <mark class="term">Terms</mark>, <mark class="specie">Species</mark>
                        </em>
                        . Curated evidences are indicated by:
                        <a class="curated" href="#"> </a>
                    </small>
                </div>
                <div class="results-summary">

                    <table>
                        <tr>
                            <td>Total of mentions:</td>
                            <td>{{ resultSetDocuments.getTotalHits }} (Displayed first 150. Click here to display the {{ resultSetDocuments.getTotalHits }})</td>
                        </tr>
                        <tr>
                            <td>Max. score:</td>
                            <td>{{ resultSetDocuments[0].getSource["hepval"] |number_format(2) }}</td>
                        </tr>
                        <tr>
                            <td>Min. score:</td>
                            {% set last_index = resultSetDocuments | length -1 %}
                            <td>{{ resultSetDocuments[last_index].getSource["hepval"] |number_format(2) }}</td>
                        </tr>
                    </table>
                </div>
                <div class="clear-both"></div>
                <table id="tableResultsElastic" class="tablesorter">
                <thead>
                    <th>Source</th>
                    <th><a href="{{ path('elasticSearch_keyword',{'whatToSearch': whatToSearch, 'source': source, 'keyword': keyword, 'orderBy': 'score'}) }}">Score</a></th>

                    <th><a href="{{ path('elasticSearch_keyword',{'whatToSearch': whatToSearch, 'source': source, 'keyword': keyword, 'orderBy': 'pattern'}) }}">Pattern</a></th>

                    <th><a href="{{ path('elasticSearch_keyword',{'whatToSearch': whatToSearch, 'source': source, 'keyword': keyword, 'orderBy': 'rule'}) }}">Rule</a></th>
                    <th><a href="{{ path('elasticSearch_keyword',{'whatToSearch': whatToSearch, 'source': source, 'keyword': keyword, 'orderBy': 'term'}) }}">Term</a></th>
                    <th>Sentence</th>
                </thead>
                <tbody>
                    {% set contador = 1 %}
                    {% for result in arrayResultsDoc %}
                        <tr class="document {{ cycle(['odd', 'even'], contador) }}">
                            {% set contador = contador + 1 %}
                            {% set className = result.getClassName %}
                            {% set text=result.getText %}
                            {% set score = result.getHepval | number_format(2)%}
                            {% set score = score|colorCodingScore %}
                            {% set patternCount = result.getPatternCount %}
                            {% set patternCount = patternCount|colorCodingScore %}
                            {% set ruleScore = result.getRuleScore %}
                            {% set ruleScore = ruleScore|colorCodingScore %}
                            {% set termScore = result.getHepTermVarScore %}
                            {% set termScore = termScore|colorCodingScore %}
                            {% if className == 'Abstracts' %}
                                {{ text | highlightEntitiesAbstracts (result, keyword, field, whatToSearch, source, entityType)| raw }}
                                {% set pmid=result.getPmid %}
                                {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmid %}
                                {% set imageRoute = 'images/pubmed.png' %}

                            {% elseif className == 'Document' or className == 'DocumentWithCompound' or className == 'DocumentWithCytochrome' or className == 'DocumentWithMarker'%}
                                {% set kind = result.getKind %}
                                {% if kind == "pubmed" %}
                                    {% set pmid=result.getUid %}
                                    {% set sid=result.getSentenceId %}
                                    {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmid %}
                                    {% set imageRoute = 'images/pubmed.png' %}
                                    <td class="center">
                                    <span data-tooltip='sticky{{ tooltipCounter }}'>
                                        <a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a>
                                    </span>
                                    </td>
                                    {% set tooltip =  "<div id='sticky"~tooltipCounter~"' class='atip' >Pubmed link: <a href='"~link ~"'>"~link~"</a><br>Pubmed Id: "~ pmid ~"<br/>Sentence Id: "~ sid ~"<br/></div>" %}
                                    {% set tooltipCounter = tooltipCounter + 1 %}
                                    {% set stringStickyTooltip = stringStickyTooltip ~ tooltip  %}
                                {% elseif kind == "fulltext" %}
                                    {% set pmid=result.getUid %}
                                    {% set arrayPmid = pmid|split('_') %}
                                    {% set pmidCut = arrayPmid[1] %}
                                    {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmidCut %}
                                    {% set imageRoute = 'images/fulltext.png' %}
                                    <td class="center">
                                        <a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a>
                                    </td>
                                {% elseif kind == "nda" %}
                                    {% set link="http://www.fda.gov" %}
                                    {% set imageRoute = 'images/nda.png' %}
                                    <td class="center">
                                        <a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a>
                                    </td>
                                {% elseif kind == "epar" %}
                                    {% set link="http://www.fda.gov" %}
                                    {% set imageRoute = 'images/epar.png' %}
                                    <td class="center">
                                        <a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a>
                                    </td>
                                {% endif %}
                                {% set arrayText= text | highlightEntitiesDocuments (result,keyword,field,whatToSearch, source, entityType, tooltipCounter) %}
                                {% set text = arrayText[0] | raw %}
                                {% set stringStickyTooltip = stringStickyTooltip ~ arrayText[1] %}
                                {% set tooltipCounter = arrayText[2] %}
                            {% endif%}
                            <td class="center">
                                {{ score  | raw}}
                            </td>
                            <td class="center">
                                {{ patternCount  | raw}}
                            </td>
                            <td class="center">
                                {{ ruleScore  | raw}}
                            </td>
                            <td class="center">
                                {{ termScore  | raw}}
                            </td>
                            <td>
                                {{ text | raw }}
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- here pagination block for documents  -->
                <div class="pagination">
                    {{ simple_paginator_render(
                        'elasticSearch_keyword', 'documents',
                            {
                                'routeParams' : {'keyword' : keyword, 'whatToSearch' : whatToSearch, 'source' : source},
                                'container_class' : 'pagination'
                            }
                        )
                    }}
                </div>
            </div>
        {% endif %}
        {% if resultSetAbstracts | length != 0 %}
            {% if resultSetAbstracts.getTotalHits != 0 %}
                <div id="abstractsResults">
                    <a name="abstracts"></a>
                    <div class="jumpToDocuments">
                        <a href="#" id="jumpToDocuments"">(View sentences)</a>
                    </div>
                    <h3>Ranked Abstracts for "{{ keyword }}" keyword</h3>
                    <div class="btmspc-dbl">
                        <small>
                            <em>
                                Entity mentions are highlighted as follows:
                                <mark class="termSearched">What you searched</mark>, <mark class="compound">Compounds</mark>, <mark class="cytochrome">CYPs</mark>, <mark class="marker">Markers</mark>, <mark class="term">Terms</mark>, <mark class="specie">Species</mark>
                            </em>
                            . Curated evidences are indicated by:
                            <a class="curated" href="#"> </a>
                        </small>
                    </div>
                    <div class="results-summary">
                        <table>
                            <tr>
                                <td>Total of mentions:</td>
                                <td>{{ resultSetAbstracts.getTotalHits }} (Displayed first 150. Click here to display the {{ resultSetAbstracts.getTotalHits }})</td>
                            </tr>
                            <tr>
                                <td>Max. score:</td>
                                <td>{{ resultSetAbstracts[0].getSource["hepval"] |number_format(2) }}</td>
                            </tr>
                            <tr>
                                <td>Min. score:</td>
                                {% set last_index = resultSetAbstracts | length -1 %}
                                <td>{{ resultSetAbstracts[last_index].getSource["hepval"] |number_format(2) }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="clear-both"></div>
                    <table id="tableResultsElastic" class="tablesorter">
                        <thead>
                            <th>Source</th>
                            <th>Score</th>
                            <th>Sentence</th>
                        </thead>
                        <tbody>
                            {% set contador = 1 %}
                            {% for result in arrayResultsAbs %}
                                <tr class="document {{ cycle(['odd', 'even'], contador) }}">
                                    {% set contador = contador + 1 %}
                                    {% set className = result.getClassName %}
                                    {% set text=result.getText %}
                                    {% set score = result.getHepval | number_format(2)%}
                                    {% set score = score|colorCodingScore %}
                                    {% if className == "Abstracts" or className == "AbstractWithCompound" %}
                                        {% set arrayText= text | highlightEntitiesAbstracts (result,keyword,field,whatToSearch, source, entityType, tooltipCounter) %}
                                        {% set text = arrayText[0] | raw %}
                                        {% set stringStickyTooltip = stringStickyTooltip ~ arrayText[1] %}
                                        {% set tooltipCounter = arrayText[2] %}
                                        {% set pmid=result.getPmid %}
                                        {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmid %}
                                        {% set imageRoute = 'images/pubmed.png' %}
                                    {% elseif className == 'Document' or className == 'DocumentWithCompound' or className == 'DocumentWithCytochrome' or className == 'DocumentWithMarker'%}
                                        {% set kind = result.getKind %}
                                        {% if kind == "pubmed" %}
                                            {% set pmid=result.getUid %}
                                            {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmid %}
                                            {% set imageRoute = 'images/pubmed.png' %}
                                        {% elseif kind == "fulltext" %}
                                            {% set pmid=result.getUid %}
                                            {% set arrayPmid = pmid|split('_') %}
                                            {% set pmidCut = arrayPmid[1] %}
                                            {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmidCut %}
                                            {% set imageRoute = 'images/fulltext.png' %}
                                        {% elseif kind == "nda" %}
                                            {% set link="http://www.fda.gov" %}
                                            {% set imageRoute = 'images/nda.png' %}
                                        {% elseif kind == "epar" %}
                                            {% set link="http://www.fda.gov" %}
                                            {% set imageRoute = 'images/epar.png' %}
                                        {% endif %}
                                        {% set arrayText= text | highlightEntitiesDocuments (result,keyword,field,whatToSearch, source, entityType, tooltipCounter) %}
                                        {% set text = arrayText[0] | raw %}
                                        {% set stringStickyTooltip = stringStickyTooltip ~ arrayText[1] %}
                                        {% set tooltipCounter = arrayText[2] %}
                                    {% endif%}
                                    <td class="center">
                                        <a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a>
                                    </td>
                                    <td class="center">
                                        {{ score  | raw}}
                                    </td>
                                    <td>
                                        {{ text | raw }}
                                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- here pagination block for abstracts -->
                    <div class="pagination">
                        {{ simple_paginator_render(
                            'elasticSearch_keyword', 'abstracts',
                                {
                                    'routeParams' : {'keyword' : keyword, 'whatToSearch' : whatToSearch, 'source' : source},
                                    'container_class' : 'pagination'
                                }
                            )
                        }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {# Here we rebuild the stringStickyTooltip inside its container divs #}
        <div id="mystickytooltip" class="stickytooltip">
            <div style="padding:5px">
                {{ stringStickyTooltip | raw }}
            </div>
            <div class="stickystatus"></div>
        </div>
    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}