{% extends '::frontend.html.twig' %}
{% block title %}Listing Evidences {% endblock %}
{% block article %}
    {% include 'FrontendBundle:Search_keyword:tags_code.html.twig' %}
    <div id="evidences">
        <h3>Evidences found for "{{ keyword }}" keyword</h3>
        <div class="btmspc-dbl">
            <small>
                <em>
                    Entity mentions are highlighted as follows:
                    <mark class="specie">Species</mark>
                    ,
                    <mark class="compound">Compounds</mark>
                    ,
                    <mark class="enzyme">Enzymes</mark>
                    ,
                    <mark class="protein">Proteins</mark>
                    ,
                    <mark class="cyp">Cytocromes</mark>
                    ,
                    <mark class="mutation">Mutations</mark>
                    ,
                    <mark class="go_term">Go terms</mark>
                    ,
                    <mark class="keyword">Keywords</mark>
                    and
                    <mark class="marker">Markers</mark>
                </em>
                . Curated evidences are indicated by:
                <a class="curated" href="#"> </a>
            </small>
        </div>
        <a name="abstracts"></a>
        <div class="jumpToDocuments">
            <a href="#documents">(Jump to evidences found in Documents)</a>
        </div>
        <h3>Evidences found in Abstracts</h3>
        <div class="results-summary">
            <table>
                <tr>
                    <td>Total of mentions:</td>
                    <td>{{ resultSetAbstracts.getTotalHits }} (Displayed first 150. Click here to display the {{ resultSetAbstracts.getTotalHits }})</td>
                </tr>
                <tr>
                    <td>Max. score:</td>
                    <td>{{ resultSetAbstracts[0].getSource["hepval"] |number_format(2) }}</td>
                </tr>
                <tr>
                    <td>Min. score:</td>
                    {% set last_index = resultSetAbstracts | length -1 %}
                    <td>{{ resultSetAbstracts[last_index].getSource["hepval"] |number_format(2) }}</td>
                </tr>
            </table>
        </div>
        <div class="clear-both"></div>
        {% for result in arrayResultsAbs %}
            <div class="document">
                <p>
                    {% set className = result.getClassName %}
                    {{ className }}
                    <br/>
                    {{ result.getId }}
                    <br/>
                    {% set text=result.getText %}
                    {% if className == "Abstracts" %}
                        {{ text | highlightEntitiesAbstracts (result,keyword)| raw }}
                    {% elseif className == "Document" %}
                        {{ text | highlightEntitiesDocuments (result,keyword)| raw }}
                    {% endif%}

                    {{ result.getHepval |number_format(2) }}
                </p>
            </div>
        {% endfor %}
        <!-- here pagination block for abstracts -->
        <div class="pagination">
            {{ simple_paginator_render(
                'elasticSearch_keyword', 'abstracts',
                    {
                        'routeParams' : {'keyword' : keyword},
                        'container_class' : 'pagination'
                    }
                )
            }}
        </div>
        <a name="documents"></a>
        <div class="jumpToDocuments">
            <a href="#abstracts">(Jump to evidences found in Abstracts)</a>
        </div>
        <h3>Evidences found in Documents</h3>
        <div class="results-summary">
            <table>
                <tr>
                    <td>Total of mentions:</td>
                    <td>{{ resultSetDocuments.getTotalHits }} (Displayed first 150. Click here to display the {{ resultSetDocuments.getTotalHits }})</td>
                </tr>
                <tr>
                    <td>Max. score:</td>
                    <td>{{ resultSetDocuments[0].getSource["hepval"] |number_format(2) }}</td>
                </tr>
                <tr>
                    <td>Min. score:</td>
                    {% set last_index = resultSetDocuments | length -1 %}
                    <td>{{ resultSetDocuments[last_index].getSource["hepval"] |number_format(2) }}</td>
                </tr>
            </table>
        </div>
        <div class="clear-both"></div>
        {% for result in arrayResultsDoc %}
            <div class="document">
                <p>
                    {% set className = result.getClassName %}
                    {{ className }}
                    <br/>
                    {{ result.getId }}
                    <br/>
                    {% set text=result.getText %}
                    {% if className == "Abstracts" %}
                        {{ text | highlightEntitiesAbstracts (result,keyword)| raw }}
                    {% elseif className == "Document" %}
                        {{ text | highlightEntitiesDocuments (result,keyword)| raw }}
                    {% endif%}

                    {{ result.getHepval |number_format(2) }}
                </p>
            </div>
        {% endfor %}
    </div><!-- #evidences -->
    <!-- here pagination block for documents  -->
    <div class="pagination">
        {{ simple_paginator_render(
            'elasticSearch_keyword', 'documents',
                {
                    'routeParams' : {'keyword' : keyword},
                    'container_class' : 'pagination'
                }
            )
        }}
    </div>
    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}