{% extends '::frontend.html.twig' %}
{% block title %}Compound List Summary {% endblock %}
{% block article %}
    <div class="wrapper">
        <h1>Compounds list summary</h1>
        Show compounds with: <a href="{{ path('compound_list_summaries',{'id':'drugBank'}) }}">DrugBank id</a>, <a href="{{ path('compound_list_summaries',{'id':'chebi'}) }}">ChEBI id</a>, <a href="{{ path('compound_list_summaries',{'id':'pubChemCompound'}) }}">PubChem compound</a><br/>
        <div class="alphabet">
                    <a class="first" href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/a/')">A</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/b/')">B</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/c/')">C</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/d/')">D</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/e/')">E</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/f/')">F</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/g/')">G</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/h/')">H</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/i/')">I</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/j/')">J</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/k/')">K</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/l/')">L</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/m/')">M</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/n/')">N</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/o/')">O</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/p/')">P</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/q/')">Q</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/r/')">R</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/s/')">S</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/t/')">T</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/u/')">U</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/v/')">V</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/w/')">W</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/x/')">X</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/y/')">Y</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/z/')">Z</a>
                    <a href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/0/')">0-9</a>
                    <a class="last" href="#" onclick="getCompoundList('/app_dev.php/compound_list_summary/{{ id }}/-/')">+-</a></div>

        <div id="compounds">
            <table id="compounds-table">
                <thead>
                    <tr>
                        <th>Compound Name</th>
                        <th>DrugBank id</th>
                        <th>ChEBI</th>
                        <th>PubChem Compound</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compound in arrayCompounds %}
                    <tr>
                        <td>{{ compound.getName }}</td>
                        <td>{{ compound.getDrugBank }}</td>
                        <td>{{ compound.getChebi }}</td>
                        <td>{{ compound.getPubChemCompound }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}