{% extends '::frontend.html.twig' %}
{% block title %}Compound List Summary {% endblock %}
{% block article %}
        <h1>Compounds list summary</h1>
        <!-- Show compounds with: <a href="{{ path('compound_list_summaries',{'id':'drugBank'}) }}">DrugBank id</a>, <a href="{{ path('compound_list_summaries',{'id':'chebi'}) }}">ChEBI id</a>, <a href="{{ path('compound_list_summaries',{'id':'pubChemCompound'}) }}">PubChem compound</a><br/> -->
        <div class="alphabet">
                    <a class="first" href="{{ path('compound_list_summaries',{'id':id, 'initial':'a'}) }}">A</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'b'}) }}">B</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'c'}) }}" >C</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'d'}) }}" >D</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'e'}) }}" >E</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'f'}) }}" >F</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'g'}) }}" >G</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'h'}) }}" >H</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'i'}) }}" >I</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'j'}) }}" >J</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'k'}) }}" >K</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'l'}) }}" >L</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'m'}) }}" >M</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'n'}) }}" >N</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'o'}) }}" >O</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'p'}) }}" >P</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'q'}) }}" >Q</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'r'}) }}" >R</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'s'}) }}" >S</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'t'}) }}" >T</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'u'}) }}" >U</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'v'}) }}" >V</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'w'}) }}" >W</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'x'}) }}" >X</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'y'}) }}" >Y</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'z'}) }}" >Z</a>
                    <a href="{{ path('compound_list_summaries',{'id':id, 'initial':'0'}) }}" >0-9</a>
                    <a class="last" href="{{ path('compound_list_summaries',{'id':id, 'initial':'-'}) }}" /-/')">+-</a></div>

        <div id="compounds">
            <table id="compounds-table">
                <thead>
                    <tr>
                        <th>Compound Name</th>
                        <th>Aliases</th>
                        <th>DrugBank id</th>
                        <th>Approval</th>
                        <th>Category</th>
                        <th>Target Rel.</th>
                        <th>Terms Rel.</th>
                        <th>CYPs Rel.</th>
                        <th>Markers Rel.</th>
                        <th>SVMs</th>
                        <th>Conf.</th>
                        <th>Pattern</th>
                        <th>Term</th>
                        <th>Rule</th>
                        <th>Total Mentions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for drugbank in drugBanks %}
                    {% set drugbankid = drugbank.getDrugbankid %}
                    {% set arrayAliases = dictionaryAliases[drugbankid] %}
                    <tr>
                        <td>{{ drugbank.getDrugbankname }}</td>
                        <td>
                            <small>
                                {% for alias in arrayAliases %}
                                    {{alias}},&nbsp;
                                {% endfor %}
                            </small>
                        </td>
                        <td>{{ drugbankid }}</td>
                        <td>
                            {% set approval = drugbank.getApproval %}
                            {{ approval | replace({("|"): ", "}) }}

                        </td>
                        <td>
                            {% set category = drugbank.getCategory %}
                            {{ category | replace({("|"): ", "}) }}
                        </td>
                        <td>
                            <small>
                                {% set stringTarget=drugbank.getTargetRelation %}
                                {% set arrayTargets= stringTarget | split("|") %}
                                {% for target in arrayTargets %}
                                    {{ target }}<br>
                                {% endfor %}
                            </small>
                        </td>
                        <td>
                            {% if dictionaryCountTermRelations[drugbankid] != 0 %}
                            {{ dictionaryCountTermRelations[drugbankid] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if dictionaryCountCypRelations[drugbankid] != 0 %}
                            {{ dictionaryCountCypRelations[drugbankid] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if dictionaryCountMarkerRelations[drugbankid] != 0 %}
                            {{ dictionaryCountMarkerRelations[drugbankid] }}
                            {% endif %}
                        </td>
                        <td>
                            {{ drugbank.getHepvalCounter }}
                        </td>
                        <td>
                            {{ drugbank.getSvmConfidenceCounter }}
                        </td>
                        <td>
                            {{ drugbank.getPatternCounter }}
                        </td>
                        <td>
                            {{ drugbank.getTermCounter }}
                        </td>
                        <td>
                            {{ drugbank.getRuleCounter }}
                        </td>
                        <td>
                            {{ drugbank.getTotalMentions }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {{ simple_paginator_render(
                    'compound_list_summaries', 'drugbanks',
                        {
                            'routeParams' : {'id' : id},
                            'container_class' : 'pagination'
                        }
                    )
                }}
            </div>
        </div>

    {% include 'FrontendBundle:Search_document:scripts_code.html.twig' %}
{% endblock %}